.app-layout__header,         // Main Zooniverse header
.app-layout__footer,         // Main Zooniverse footer
.project-page > header,      // Project header
.classifier .subject-tools,  // Toolbar under subject viewer
a[href*="/talk/"],           // Any Talk links
a[href*="/talk/"] + button   // Final 'Next' button
  display: none !important
