.account-menu
  &.modal-form-trigger
    font-size: 12px
    padding: 0 0.5em

    &:hover,
    &[data-active]
      background: rgba(white, 0.1)

  &.modal-form
    a,
    button
      color: inherit
      display: inline-block
      padding: 0.3em 0.7em
      text-decoration: none
