.admin-page
  .project-status
    &__section
      margin: 1em 0

      &-list
        margin: 0 0 1em 0

      &-table
        display: table

        &-row
          display: table-row

    &__org-project-list-item
      list-style-type: disc
      margin-left: 1.5em

    &__section--state
      fieldset
        border: 0
        margin: 0
        padding: 0

      input
        margin-right: 0.5em

      label
        margin-right: 1em
