.admin-page
  .project-status
    .project-status__section
      margin: 1em 0
      
      .project-status__section--list
        margin: 0 0 1em 0

      .project-status__section--table
        display: table
        
        label
          display: table-row