.admin
  background: linear-gradient(top left, black 25%, yellow 25%, yellow 50%, black 50%, black 75%, yellow 75%)
  background-size: 20px 20px

  .panoptes-main
    background: BACKGROUND
    box-shadow: 0 0 3px
    margin: 0.3em
    min-height: calc(100vh - 0.6em)
