.admin-page
  .project-status
    &__section
      margin: 1em 0
      
      &-list
        margin: 0 0 1em 0

      &-table
        display: table
        
        &-row
          display: table-row