.all-projects-page
  .projects-hero
    background: url(./assets/all-projects-hero.png) center center no-repeat
    background-size: cover
    padding: 9.33em 3vw 4em

    h1
      color: white
      font-size: 2.25em
      font-weight: 400
      margin: 0 auto
      max-width: 960px

  .projects-container
    background: #ebebeb
    padding: 0 3vw

    .project-results-counter
      color: rgba(100, 100, 100, 0.5)
      font-weight: 700
      text-align: center

      p
        margin: 0
        padding: 2.33em 0

  .pagination
    padding: 2.33em 0
    text-align: center
