.all-projects-page
  .projects-hero
    background: url(./assets/all-projects-hero.png)
    margin: 0 auto
    max-width: 960px

    h1
      font-size: 2.25em
      font-weight: 400

  .projects-container
    background: #ebebeb

    .project-card-list
      column-count: 5
      column-gap: 1.6em
      column-width: 14em