.all-projects-page
  .projects-hero
    background: url(./assets/all-projects-hero.png) center center no-repeat

  .projects-container
    background: #ebebeb
    padding: 0 3vw

    .project-results-counter
      color: rgba(100, 100, 100, 0.5)
      font-weight: 700
      text-align: center

      p
        margin: 0
        padding: 2.33em 0

  .pagination
    padding: 2.33em 0
    text-align: center
