.app-status
  background: BACKGROUND
  color: FOREGROUND
  border: 1px solid ZOONIVERSE_TEAL
  border-radius: 1em
  padding: 0.5em 1em
  position: fixed
  left: 50%
  bottom: 1em
  transform: translateX(-50%);
  width: 80%
  max-width: 40em
  z-index: 1000
  box-shadow: 0 0 0.5em BACKGROUND

  button.fa-close
    float: right
    cursor: pointer
