body
  margin: 0

.panoptes-main
  display: flex
  flex: 1 0 auto
  flex-direction: column
  margin: 0 auto
  max-width: 1440px
  min-height: 100vh // TODO: iOS's `vh` is buggy, so work around it.

.main-content
  display: flex
  flex: 1 0 auto
  flex-direction: column

.content-container
  margin: 1.5em 3vw

.columns-container
  display: flex

  &.inline
    align-items: baseline
    flex-wrap: wrap

  &.spread
    justify-content: space-between

  > :not(:last-child)
    margin-right: 1.5vw

  > :not(hr)
    flex: 1 1

  > .column
    flex-grow: 5
    // Constrain images to column width
    min-width: 0
    img
      max-width: 100%


  > hr
    border-width: 0 0 0 1px
    height: auto
    margin-bottom: 0
    margin-top: 0

// IE workaround: https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items
.flex-container
  display: flex
  flex-direction: column
