.svg-container
  background: white

.progress-container
  width: 100%
  position: relative

.ct-chart
    .ct-series-a
      .ct-bar, .ct-slice-donut
        // stroke-width: 4.5%
        stroke: steelblue
    .ct-series-b
      .ct-bar, .ct-slice-donut
        stroke-width: 4.5%
        stroke: #aaa
  .progress-label, .ct-label.ct-vertical, .ct-label.ct-horizontal
    color: #000
    fill: #000

.ct-chart-bar
  .ct-label.ct-horizontal.ct-end
    display: block
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    transform: rotate(-90deg) translateY(-6px)
    transform-origin: 100% 0
    text-align: right
    max-height: 1.5em
    min-width: 100px
    max-width: 100px

.ct-slice-donut
  cursor: auto

.progress-label
  color: #000
  position: absolute
  margin-top: 45%
  width: 100%
  text-align: center
  font-size: 1.8vw

.project-stats-progress
  display: flex
  flex-flow: row wrap
  width: 100%

.progress-element
  align-self: flex-end
  width: 25%
  word-wrap: break-word

.flex-wrapper
  padding: 5px

.rc-slider
  margin: 0 15px 0 15px
  width: auto !important

.top-slider
  margin-bottom: -4px

.mid-slider
  .rc-slider-handle
    border-radius: 0
    border: 0
    background-color: #96dbfa
    height: 10px
    margin-top: -3px
