.svg-container
  background: white

.progress-container
  width: 25%
  position: relative

.ct-chart
    .ct-series-a
      .ct-bar, .ct-slice-donut
        stroke-width: 4.5%
        stroke: steelblue
    .ct-series-b
      .ct-bar, .ct-slice-donut
        stroke-width: 4.5%
        stroke: #aaa
  .progress-label, .ct-label.ct-vertical, .ct-label.ct-horizontal
    color: #000
    fill: #000

.progress-label
  color: #000
  position: absolute
  margin-top: 45%
  width: 100%
  text-align: center
  font-size: 1.8vw
