.svg-container
  background: white

.progress-container
  width: 25%
  position: relative

.ct-chart
  .ct-bar, .ct-slice-donut
    stroke: steelblue
    stroke-width: 30px
  .progress-label, .ct-label.ct-vertical, .ct-label.ct-horizontal
    color: #000
    fill: #000

.progress-label
  color: #000
  position: absolute
  margin-top: 45%
  width: 100%
  text-align: center
  font-size: 1.8vw
