.secret-button
  @extends $reset-button

.standard-button
  @extends $reset-button
  background: #0072ff
  border-radius: 4px
  color: white
  font-size: 14px
  padding: 1em
  text-align: center

  &:hover
    background: lighten(#0072ff, 20%)

  &:disabled
    pointer-events: none

  &.full
    display: block
    width: 100%

  &.x-large
    font-weight: 700
    width: 250px

  &.large
    width: 160px

  &.medium
    width: 120px

  &.small
    width: 80px

  &:disabled
    background: #f2f2f2

.major-button
  @extends .standard-button
  background: SECOND_HIGHLIGHT
  font-weight: bold

  &:hover
    background: lighten(SECOND_HIGHLIGHT, 20%)

.minor-button
  @extends .standard-button
  color: FOREGROUND
  background: lighten(#424242, 90%)

  &:hover
    background: lighten(#424242, 95%)

  &.active
    @extends .standard-button

.pill-button
  @extends $reset-button
  border-radius: 1em
  box-shadow: 0 0 1px inset
  display: inline-block
  font-size: 1em
  line-height: 1.2
  padding: 0 0.8em 0 0.5em
  vertical-align: middle
