.classifications-ribbon
  border-radius: 0.3em
  overflow: hidden

.classifications-ribbon-empty
  background: rgba(gray, 0.2)
  color: gray
  line-height: 0.8

  > .empty
    font-size: 10px
    font-weight: bold
