.project-classify-page
  display: flex

  > .subject
    flex: 4

  > .task
    flex: 1

    .answer
      display: block

  .circle-mark
    fill: transparent
    stroke: currentColor
    stroke-width: 2
