.project-classify-page
  display: flex

  > .subject
    flex: 4

  > .classifier-task
    display: flex
    flex: 1
    flex-direction: column

    .task-viewer
      flex: 1 0 auto

    .task-nav
      flex: 1 0 auto

.subject-viewer-svg
  &[data-tool]
    cursor: crosshair

@require "./task-viewer"
@require "./drawing-tool"
