.collections-page
  display: flex
  flex: 1 0 auto
  flex-direction: column

  .collection-header
    display: flex
    flex: 1 0 auto
    margin-bottom: 3em
    font-size: 0.8em
    color: COPY
    justify-content: space-between

  .collection-title
    @extends $reset-button
    font-size: 1.5em
    font-weight: bold

  .collection-owner
    @extends $reset-button
    text-transform: uppercase

  .collection-nav
    display: flex
    align-items: flex-end
    justify-content: space-between

  .collection-nav-item
    @extends $reset-button
    margin-left: 1.5em
    text-transform: uppercase

  .collections-show
    margin: 0 auto

    .collection-buttons-container
      display: flex
      justify-content: flex-end
      margin-bottom: 2em

    .select-images-button
      @extends $reset-button
      margin-left: 1.5em
      min-width: 10em
      border-radius: 2px
      border: HIGHLIGHT_COLOR
      background-color: transparent
      padding: 0.6em 1.2em
      text-align: center
      font-size: 0.8em

      &:focus,
      &:hover
        border: HIGHLIGHT_COLOR
        background-color: HIGHLIGHT_COLOR
        color: white

      &:disabled
        opacity: 0.5

    .collection-subject-viewer
      width: 18em
      border: 1px solid #cdcdcd
      border-radius: 5px
      margin: 0 1.66em 1.66em 0
      text-align: center
      display: inline-block
      position: relative

      .subject-video-controls
        display: initial

      .subject-image-frame
        margin: auto

    img
      width: 100%
      max-height: 250px

    .subject-link
      height: 100%
      width: 100%
      position: absolute
      top: 0
      left: 0

    .collection-subject-viewer-delete-button
      background: white
      border: none
      border-bottom-left-radius: 50%
      cursor: pointer
      display: flex
      height: 1.3em
      margin-left: -2px
      position: absolute
      right: -0.3em
      top: -0.3em
      width: 1.3em
      z-index: 1

      &:hover
        color: red

    .collection-subject-viewer-select-button
      height: 100%
      width: 100%
      position: absolute
      top: 0
      left: 0
      border: none
      text-align: center
      background: transparent

      &:hover
        background-color: transparent

      .collection-subject-viewer-circle
        vertical-align: middle
        color: white
        font-size: 6em
        text-shadow: 1px 1px 25px COPY

  .collection-settings-tab
    max-width: 800px
    margin: 0 auto

  .helpful-tip
    color: #777
    font-style: italic
    text-align: center

.collections-manager
  h1
    margin-bottom: 20px

  .collection-search
    display: inline-block
    width: 70%
    margin-right: 10px
    height: 40px

  .search-button
    height: 40px
    float: right

.collections-create-form

  .collection-name-input
    border: 1px solid #cccccc
    border-color: #d9d9d9 #cccccc #b3b3b3
    border-radius: 4px
    box-shadow: none
    box-sizing: border-box
    font: inherit
    margin: 4px 0 5px 0
    padding: 8px 10px
    width: 100%

  .collection-create-form-actions
    display: flex

    > *
      flex: 1 0 auto

    .submit-button-container
      text-align: right

    button
      @extends .standard-button
