.collections-card-list
  @extends $owned-card-list

.collection-card
  @extends $owned-card
  background: url('/assets/simple-pattern.png') center center repeat

  svg
    height: 150px

  .details
    padding: 1em
    height: 80px
    text-align: left

    .name
      font-weight: 400
      height: 2.9em
      max-height: 2.9em
      line-height: 1.45em
      margin-bottom: 1em
      color: #000000

      .fa-lock
        margin-left: 0.3em

    .owner
      text-transform: uppercase
      margin: 0
      height: 1.5em
      color: #bababa
      flex-grow: 1
      font-size: .8em

    .description
      margin: 0.75em 0

  &__badge
    background: rgba(black, 0.4)
    border-radius: 100%
    color: white
    font-weight: bold
    height: 1.5em
    margin: 0.2em 0.2em 0 0
    padding: 0 0.5em
    position: absolute
    right: 0
    z-index: 1
