.collections-card-list
  @extends $owned-card-list

.collection-card
  @extends $owned-card
  background: url('/assets/simple-pattern.png') center center repeat

  .details
    padding: 1em
    height: 80px
    text-align: left
    text-overflow: ellipsis

    .name
      margin-bottom: 1em
      height: 2.9em
      line-height: 1.45em
      max-height: 2.9em

      .fa-lock
        margin-left: 0.3em

    .owner
      text-transform: uppercase
      margin: 0
      height: 1.5em
      font-style: normal

    .description
      margin: 0.6em 0
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;

  :hover > &,
  :focus > &
    .details
      height: 175px

  &__badge
    background: rgba(black, 0.4)
    border-radius: 100%
    color: white
    font-weight: bold
    height: 1.5em
    margin: 0.2em 0.2em 0 0
    padding: 0 0.5em
    position: absolute
    right: 0
    z-index: 1
