.collections-page
  display: flex
  flex: 1 0 auto
  flex-direction: column

  .collection-container
    padding: 0 3vw

  .collection-settings-tab
    max-width: 800px
    margin: 0 auto

  .collections-show
    section
      flex-wrap: wrap
      max-width: 1200px
      margin: 0 auto

      .subject-viewer
        width: 18em
        border: 1px solid #cdcdcd
        border-radius: 5px
        overflow: hidden
        margin: 0 1.66em 1.66em 0
        text-align: center
        display: inline-block
      
    img
      width: 100%
      max-height: 250px

  .helpful-tip
    color: #777
    font-style: italic
    text-align: center

.collection-nav
  margin-left: 0
  margin-top: 2em
  text-align: left

  .tabbed-content-tab
    position: relative

  .avatar
    height: 4em
    vertical-align: middle
    margin: -2em 1vw -2em 0px
 
.collections-manager
  h1
    margin-bottom: 20px
    
  .collection-search
    display: inline-block
    width: 70%
    margin-right: 10px
    height: 40px

  .search-button
    height: 40px
    float: right

.collections-create-form
  
  .collection-name-input
    border: 1px solid #cccccc
    border-color: #d9d9d9 #cccccc #b3b3b3
    border-radius: 4px
    box-shadow: none
    box-sizing: border-box
    font: inherit
    margin: 4px 0 5px 0
    padding: 8px 10px
    width: 100%

  .collection-create-form-actions
    display: flex

    > *
      flex: 1 0 auto

    .submit-button-container
      text-align: right

    button
      @extends .standard-button



    