.color-label
  display: inline
  border-radius: 2px
  font-size: 0.5em
  font-weight: bold
  letter-spacing: 0.05em
  margin: 0 0.3em
  padding: 0 0.3em
  vertical-align: middle
  text-transform: uppercase
  pointer-events: none

  &.green
    border: 1px solid green
    color: green
  &.red
    border: 1px solid red
    color: red
  &.orange
    border: 1px solid orange
    color: orange
  &.blue
    border: 1px solid blue
    color: blue
  &.yellow
    border: 1px solid yellow
    color: orange
