.has-columns
  display: flex

  > :not(:first-child)
      margin-left: 3vw

  > hr
    border-left-width: 1px
    margin-bottom: 0
    margin-top: 0

  > .primary-column
  &.fixed > :not(hr)
    flex: 1
