FOREGROUND = #404040
BACKGROUND = white
MAIN_HIGHLIGHT = #43bbfd
SECOND_HIGHLIGHT = #38b978

background-stripes(color1, color2, size)
  background: white linear-gradient(-45deg, color1 25%, color2 25%, color2 50%, color1 50%, color1 75%, color2 75%)
  background-size: size size

$reset-button
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  display: inline-block
  font: inherit
  line-height: inherit
  margin: 0
  padding: 0
  text-decoration: none

  &:disabled
    cursor: inherit
    opacity: 0.5

$standard-button
  @extends $reset-button
  background: MAIN_HIGHLIGHT
  border-radius: 3px
  padding: 0.5em 1em
  text-align: center

  &:hover
    background: lighten(MAIN_HIGHLIGHT, 20%)

  &:disabled
    pointer-events: none

$major-button
  @extends $standard-button
  background: SECOND_HIGHLIGHT
  font-weight: bold

  &:hover
    background: lighten(SECOND_HIGHLIGHT, 20%)

$minor-button
  @extends $standard-button
  background: rgba(BACKGROUND, 0.3)

  &:hover
    background: rgba(BACKGROUND, 0.4)

$text-input
  border: 1px solid gray
  box-shadow: 0 1px 3px rgba(black, 0.2) inset
  box-sizing: border-box
  font: inherit
  padding: 0.1em 0.5vw
