BACKGROUND = white
FOREGROUND = #333

SANS_SERIF = Montserrat, "Gill Sans", Arial, sans-serif
SERIF = "Playfair Display", Georgia, serif

$reset-button
  background: transparent
  border: 0
  cursor: pointer
  font: inherit
  margin: 0
  padding: 0
  line-height: inherit
  color: inherit
