// Batch Aggregations
// ------------------
// Found in: Lab/Project Builder => Data Export => Batch Aggregations
// See /app/pages/data-export-batch-aggregations for corresponding components
//
// Note that the CSS class names are called .batch-aggregations instead of
// the more accurate but more mouthful .data-exports-batch-aggregations

.batch-aggregations
  border-radius: 8px
  border: 0.5px solid #A6A7A9
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(239, 242, 245, 0.40) 100%), #ffffff
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25)
  padding: 20px

  flex-row()
    align-items: center
    display: flex
    flex-direction: row
    gap: 10px

  .flex-row
    flex-row()
  
  .flex-item, .spacer
    flex: 1 1 auto

  .button
    background: none
    border: none
    cursor: pointer

  .message
    &.error
      color: #e45950

  > dialog
    max-height: 90vh
    max-width: 90vw
    overflow: auto
    padding: 5px 20px

    border: none
    border-radius: 8px
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(239, 242, 245, 0.40) 100%), #FFF
    box-shadow: 1px 1px 12px 8px rgba(0, 0, 0, 0.25)
  
  > .header
    flex-row()
    margin-bottom: 20px

    h3
      color: #404040
      font-family: Karla
      font-size: 16px
      font-style: normal
      font-weight: 600
    
    p
      color: #5C5C5C
      font-size: 12px
      font-style: normal
      margin: 0 0 0 20px
      max-width: 500px
      padding: 0

      b
        color: #000000
        font-weight: 700
    
    .spacer
      align-self: stretch
      border-right: 0.5px solid #a6A7a9
      margin-right: 20px
      margin-left: 20px
    
    .button
      border-radius: 4px
      border: 0.5px solid #d47811
      background: linear-gradient(91deg, rgba(240, 178, 0, 0.10) 0%, rgba(212, 120, 17, 0.10) 100%), #ffffff
      color: #000000
      font-size: 16px
      font-weight: 500
      flex: 1 1 300px
      height: 40px

  .batch-aggregations-dialog
    padding: 1em 0

    > .header
      flex-row()

      h2
        flex: 1 1 auto
        color: #000
        leading-trim: both
        text-edge: cap
        font-size: 18px
        font-style: normal
        font-weight: 600
        line-height: normal
        letter-spacing: 0.9px

      .close-button
        color: #5C5C5C
        padding: 0
    
    > .body
      width: 90vw
      max-width: 800px
      max-height: 80vh
      overflow: auto

    .info
      // void

  .batch-aggregations-results
    > .expandable-container > .header
      color: #5C5C5C
      cursor: pointer
      font-size: 16px
      font-weight: 600
      letter-spacing: 0.8px
      text-align: right
      text-transform: uppercase
    
    > .expandable-container > .body > p
      text-align: right
      color: #5C5C5C
      font-size: 12px
      font-weight: 400

  .aggregations-list ul, ul.single-aggregation
      list-style: none
      padding: 0
    
  .aggregation-item
    display: grid
    grid-template-columns: 50% auto
    grid-template-rows: auto auto auto

    border-radius: 8px
    border: 1px solid #a6A7a9
    background: #ffffff

    .message
      display: flex
      align-items: center
      justify-content: center

      grid-column: 1 / span 2
      grid-row: 1
      min-height: 60px
      padding: 20px

      border: 1px solid #f0f0f0
    
    .aggregation-id
      grid-column: 1 / span 2
      grid-row: 1
      gap: 10px

      h6
        display: inline-block
        margin: -1px auto auto -1px
        padding: 7px 18px

        border-radius: 8px 0 16px 0
        background: linear-gradient(276deg, rgba(240, 178, 0, 0.80) 0%, rgba(212, 120, 17, 0.80) 100%), #f6d885
        color: #404040
        font-size: 14px
        font-weight: 600

    .aggregation-info
      grid-column: 1
      grid-row: 2
      margin-left: 20px

      color: #404040
      font-size: 12px
      font-weight: 400

      .workflow-id
        font-size: 14px
        font-weight: 600
      
      .aggregation-updated-at
        // void
    
    .aggregation-status
      grid-column: 2
      grid-row: 2
      margin-right: 20px

      color: #404040
      font-size: 12px
      font-weight: 400
      text-align: right

      .aggregation-status-completed
        color: #52db72
      
      .aggregation-status-pending
        color: #d47811
    
    .aggregation-controls
      grid-column: 1 / span 2
      grid-row: 3
      margin: 0 20px 20px 20px
      text-align: right

      .button
        font-size: 16px
        font-weight: 500
        margin: 0 10px
        padding: 5px 10px
        text-decoration: underline

      .delete-button
        color: #e45950
      
      .download-button
        color: #000000
  
  .expandable-container

    > .header
      flex-row()

      > span
        flex: 1 1 auto

      button
        color: #a6A7a9
    
    > .body
      // void
  
  .workflows-list
    table
      border: 1px solid #f0f0f0
      border-collapse: collapse
      display: block
      max-height: 10em
      overflow: auto
    
    td, th
      border: 1px solid #808080
      padding: 5px 10px
