.classification-task-summary
  background: rgba(gray, 0.1)
  border: 1px solid rgba(gray, 0.5)
  border-radius: 3px
  font-size: 0.8em
  margin: 0.5em 0
  padding: 0.8em 1.5vw

  .answer
    font-weight: bold

  .toggle-more
    @extends .standard-button
    color: white
    padding: 0 0.5em
    float: right
