.dialog-underlay
  background: rgba(black, 0.6)
  height: 100%
  left: 0
  position: fixed
  top: 0
  width: 100%

.dialog-content
  background: white
  box-shadow: 0 1px 5px -3px black
  left: 50%
  max-height: 90%
  position: absolute
  top: 40%
  transform: translate(-50%, -40%)

.alert-dialog-close-button
  @extends $reset-button
  background: black
  border: 1px solid
  border-radius: 2em
  box-shadow: 0 1px 1px rgba(black,  0.5)
  color: white
  height: 1em
  line-height: 1
  position: absolute
  right: -0.3em
  top: -0.3em
  width: 1em

.dialog-actions
  color: white
  left: 100%
  margin-left: 1vw
  position: absolute
  top: 0

  button
    @extends $reset-button
    background: rgba(black, 0.2)
    border-radius: 50%
    font-size: 1.5em
    width: 1.5em
    height: 1.5em
