.dialog-container
  position: relative
  z-index: 10

.dialog-underlay
  align-items: center
  background: rgba(black, 0.6)
  color: white
  display: flex
  height: 100%
  justify-content: center
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 1

.dialog
  background: white
  box-shadow: 0 1px 3px -1px black
  color: black
  display: flex
  flex-direction: column
  max-height: 90%
  max-width: 100%
  overflow: auto

.dialog-controls
  height: 0
  line-height: 1
  position: relative
  z-index: 1

  > .wrapper
    position: absolute
    right: 0
    top: 0

    @media screen and (min-width: 768px)
      top: -2em
      right: 2em

  button
    @extends $reset-button
    font-size: 2em
    opacity: 0.8
    padding: 0 0.2em

    &:hover
      opacity: 1

    &[aria-label="Close"]
      @media screen and (min-width: 768px)
        color: white
        position: fixed

.dialog-content
  overflow: visible
  max-width: 800px
  width: 100%

  img
    max-width: 100%

.confirm-delete-dialog
  div
    text-align: center
