DISCIPLINE_COLOR_ALL = #0072FF
DISCIPLINE_COLOR_LANGUAGE = #9DDDF9
DISCIPLINE_COLOR_ASTRONOMY = #512BAD
DISCIPLINE_COLOR_NATURE = #46D178
DISCIPLINE_COLOR_PHYSICS = #F27441
DISCIPLINE_COLOR_CLIMATE = #A1BFBE
DISCIPLINE_COLOR_LITERATURE = #EADF5C
DISCIPLINE_COLOR_BIOLOGY = #18807F
DISCIPLINE_COLOR_HUMANITARIAN = #C46FC6
DISCIPLINE_COLOR_MEDICINE = #EF4343
DISCIPLINE_COLOR_HISTORY = #F9DB46
DISCIPLINE_COLOR_SOCIAL_SCIENCE = #7EA8CE

.filter
  display: flex;

  .discipline
    margin: 1em
    color: white 
    text-align: center
    width: 100%;
    padding: .5em
  
    .icon
      font-size: 2em  
      width: 1.5em
      height: 2em  

  .discipline-arts
    background-color: DISCIPLINE_COLOR_ARTS
      
  .discipline-astronomy
    background-color: DISCIPLINE_COLOR_ASTRONOMY
      
  .discipline-biology
    background-color: DISCIPLINE_COLOR_BIOLOGY
      
  .discipline-climate
    background-color: DISCIPLINE_COLOR_CLIMATE
      
  .discipline-history
    background-color: DISCIPLINE_COLOR_HISTORY
      
  .discipline-humanitarian
    background-color: DISCIPLINE_COLOR_HUMANITARIAN
      
  .discipline-language
    background-color: DISCIPLINE_COLOR_LANGUAGE
      
  .discipline-literature
    background-color: DISCIPLINE_COLOR_LITERATURE
      
  .discipline-medicine
    background-color: DISCIPLINE_COLOR_MEDICINE
      
  .discipline-nature
    background-color: DISCIPLINE_COLOR_NATURE
      
  .discipline-physics
    background-color: DISCIPLINE_COLOR_PHYSICS
      
  .discipline-social-science
    background-color: DISCIPLINE_COLOR_SOCIAL_SCIENCE