.media-discipline
  img
    max-width: 80px
    max-height: 80px
    vertical-align: middle 
    margin: 0 auto
    min-height: 80px
    
    
  .step-through-controls
    margin: 0 auto;
    width: 305px