.filmstrip--disciplines ul

  li
    display: inline-block
    line-height: 4em
    margin: .28em
    vertical-align: middle

  .filmstrip--disciplines__discipline-card
    background-color: white
    border: 2px solid transparent
    color: TEAL_MID
    font-size:25px
    height: 4em
    line-height: 1.2
    min-width: 100px
    padding: .2em .5em .5em
    text-align: center
    width: 5em

    &:focus
    &:hover
      background-color: white
      border: 2px solid white
      cursor: pointer
      outline: none

    .filmstrip--disciplines__discipline-card__icon
      font-size: 50px
      height: 2em
      margin: 0 auto
      width: 1.5em

    p
      font-size: 11px
      font-weight: 700
      letter-spacing: 0.1em
      margin-bottom: 0px
      margin-top: 0.333em
      padding: 0
      text-transform: uppercase

  .filmstrip--disciplines__discipline-card--discipline-all
    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_ALL
    &:focus,
    &:hover
      border-color: DISCIPLINE_COLOR_ALL
      color: DISCIPLINE_COLOR_ALL

  .filmstrip--disciplines__discipline-card--discipline-arts
    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_ARTS

    &:focus,
    &:hover
      border-color: DISCIPLINE_COLOR_ARTS
      color: DISCIPLINE_COLOR_ARTS

  .filmstrip--disciplines__discipline-card--discipline-astronomy
    min-width: 4em

    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_ASTRONOMY

    &:focus,
    &:hover
      border-color: DISCIPLINE_COLOR_ASTRONOMY
      color: DISCIPLINE_COLOR_ASTRONOMY

    .filmstrip--disciplines__discipline-card__icon
      margin-left: -0.6em

  .filmstrip--disciplines__discipline-card--discipline-biology
    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_BIOLOGY

    &:focus,
    &:hover
      border-color: DISCIPLINE_COLOR_BIOLOGY
      color: DISCIPLINE_COLOR_BIOLOGY

    .filmstrip--disciplines__discipline-card__icon
      margin-left: 0.3em

  .filmstrip--disciplines__discipline-card--discipline-climate
    min-width: 4em

    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_CLIMATE

    &:hover,
    &:focus
      border-color: DISCIPLINE_COLOR_CLIMATE
      color: DISCIPLINE_COLOR_CLIMATE

  .filmstrip--disciplines__discipline-card--discipline-history
    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_HISTORY

    &:focus,
    &:hover
      border-color: DISCIPLINE_COLOR_HISTORY
      color: DISCIPLINE_COLOR_HISTORY

    .filmstrip--disciplines__discipline-card__icon
      margin-left: 0.1em

  .filmstrip--disciplines__discipline-card--discipline-humanitarian
    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_HUMANITARIAN

    &:focus,
    &:hover
      border-color: DISCIPLINE_COLOR_HUMANITARIAN
      color: DISCIPLINE_COLOR_HUMANITARIAN

  .filmstrip--disciplines__discipline-card--discipline-language
    min-width: 4em

    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_LANGUAGE

    &:focus,
    &:hover
      border-color: DISCIPLINE_COLOR_LANGUAGE
      color: DISCIPLINE_COLOR_LANGUAGE

    .filmstrip--disciplines__discipline-card__icon
      margin-left: -1em

  .filmstrip--disciplines__discipline-card--discipline-literature
    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_LITERATURE

    &:focus,
    &:hover
      border-color: DISCIPLINE_COLOR_LITERATURE
      color: DISCIPLINE_COLOR_LITERATURE

  .filmstrip--disciplines__discipline-card--discipline-medicine
    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_MEDICINE

    &:hover,
    &:focus
      border-color: DISCIPLINE_COLOR_MEDICINE
      color: DISCIPLINE_COLOR_MEDICINE

  .filmstrip--disciplines__discipline-card--discipline-nature
    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_NATURE
    &:focus,
    &:hover
      border-color: DISCIPLINE_COLOR_NATURE
      color: DISCIPLINE_COLOR_NATURE

    .filmstrip--disciplines__discipline-card__icon
      margin-left: -0.4em

  .filmstrip--disciplines__discipline-card--discipline-physics
    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_PHYSICS

    &:focus,
    &:hover
      border-color: DISCIPLINE_COLOR_PHYSICS
      color: DISCIPLINE_COLOR_PHYSICS

  .filmstrip--disciplines__discipline-card--discipline-social-science
    &:active,
    &.filmstrip--disciplines__discipline-card--active
      background-color: DISCIPLINE_COLOR_SOCIAL_SCIENCE

    &:focus,
    &:hover
      border-color: DISCIPLINE_COLOR_SOCIAL_SCIENCE
      color: DISCIPLINE_COLOR_SOCIAL_SCIENCE

    .filmstrip--disciplines__discipline-card__icon
      margin-left: -0.3em

  .filmstrip--disciplines__discipline-card
    &:active,
    &.filmstrip--disciplines__discipline-card--active
      color: white
      outline: none
