/*
  TODO: Move this into the  drag-reorderable component module.
  Also, implement the `data-drag-reorderable-direction` direction attribute.
*/

.drag-reorderable [draggable] {
  cursor: move;
}

[data-drag-reorderable-direction="horizontal"] [draggable] {
  cursor: ew-resize;
}

[data-drag-reorderable-direction="vertical"] [draggable] {
  cursor: ns-resize;
}
