.marks-for-annotation[data-disabled]
  opacity: 0.8
  pointer-events: none

.drawing-tool
  .drawing-tool-main
    outline: none
    transform-origin: 50% 50%
    transition:
      opacity 0.3s,
      transform 0.3s

  &[data-destroying] .drawing-tool-main
    opacity: 0
    transform: scale(0.1)

  .drawing
    cursor: crosshair

  .clickable
    cursor: pointer

  .clickable-line
    pointer-events: stroke

  .draggable
    cursor: move
    cursor: grab
    cursor: -webkit-grab

    .dragging &
      cursor: grabbing
      cursor: -webkit-grabbing

  .drag-handle
    cursor: move
    transition: opacity 0.2s

    .dragging &
      cursor: none

  @keyframes guideline-marching-ants
    from
      stroke-dashoffset: 0
    to
      stroke-dashoffset: -5

  .guideline
    animation: guideline-marching-ants 0.5s linear infinite
    pointer-events: none
    stroke-dasharray: 2 3

  .open-drag-handle
    stroke: currentColor
    fill: transparent
    stroke-width: 2

.aggregate-mark
  cursor: pointer
