.drawing-tool
  fill: none
  stroke: none
  stroke-width: 0

  &[data-disabled]
    opacity: 0.5
    pointer-events: none

  .clickable
    cursor: pointer
    display: none

  &[data-selected] .clickable
    display: initial

  .draggable
    cursor: move
    cursor: grab
    cursor: -webkit-grab

    .dragging &
      cursor: grabbing
      cursor: -webkit-grabbing
