.drawing-tool
  fill: none
  stroke: none
  stroke-width: 0
  transition: opacity 0.5s

  &[data-disabled]
    opacity: 0.5
    pointer-events: none

  .drawing-tool-main
    transform-origin: 50% 50%
    transition: transform 0.4s

  .clickable
    cursor: pointer
    display: none

  &[data-selected] .clickable
    display: initial

  .draggable
    cursor: move
    cursor: grab
    cursor: -webkit-grab

    .dragging &
      cursor: grabbing
      cursor: -webkit-grabbing

  .drag-handle
    cursor: move

    .dragging &
      cursor: none

  &[data-destroying]
    opacity: 0

    .drawing-tool-main
      transform: scale(0.1)
