.dropdown-form-button
  @extends $reset-button

.dropdown-form-underlay
  background: rgba(gray, 0.2)

.dropdown-form
  background: white
  border-radius: 3px
  box-shadow: 0 5px 20px -5px rgba(black, 0.5)
  color: black
  font-size: 14px
  margin-top: 3px
  padding: 0.5em 1em
