.media-list
  text-align: center

.media-item
  border-radius: 5px
  display: inline-block
  flex: 1 0 15em
  margin-bottom: 1em
  padding: 0.5em 3vw
  text-align: center
  vertical-align: middle

  &-container
    display: inline-block
    position: relative

  &-delete-button
    position: absolute
    right: 0
    top: 0
    transform: translate(50%, -50%)

  &-image
    display: block
    max-height: 6em
    max-width: 100%

  &-src
    display: block
    width: 100%
    height: 4em
