.feedbackmodal
  display: flex
  flex-direction: column

  .warning-banner
    display: none !important

  .subject
    display: block
    max-height: 60vh
    max-width: 100%

  .buttons
    text-align: right

  .categorytitles
    padding-left:1em

  .messages
    padding-left:1em

  .messagecontainer
    padding-top:1em
    padding-bottom:1em
