.feedbackmodal
  display: flex
  flex-direction: column
  
  .warning-banner
    display: none !important

  .subject
    display: block
    max-height: 60vh
    max-width: 100%

  .buttons
    text-align: right
