.field-guide-editor-article-list
  border: 1px solid rgba(gray, 0.3)
  margin: 1em 0
  padding: 0

  > :not(:first-child)
    border-top: 1px solid rgba(gray, 0.2)

.field-guide-editor-article-list-item-container
  display: flex
  border-left: 1em solid rgba(gray, 0.1) // Drag handle

.field-guide-editor-article-button
  @extends $reset-button
  align-items: center
  display: flex
  flex-grow: 1
  padding: 0.5em 1em
  text-align: left

  &:hover
    background: rgba(MAIN_HIGHLIGHT, 0.2)

  &:active
    background: MAIN_HIGHLIGHT
    color: white

.field-guide-editor-article-button-icon
  background: rgba(gray, 0.2)
  box-shadow: 0 1px 3px rgba(gray, 0.2) inset
  flex-shrink: 0
  margin-right: 0.5em

.field-guide-editor-article-button-title
  font-weight: bold

.field-guide-editor-article-list-item-remove-button
  @extends $reset-button
  padding: 0.5em 1em

  &:hover
    background: rgba(red, 0.2)

  &:active
    background: red
    color: white
