.filmstrip
	padding: 0
	max-width: 1200px
	margin: 0 auto
	display: flex

.navButton 
	border: 0
	margin: 0 
	height: 100%

.viewport 
	overflow-x: hidden 
	position: relative
	width: 100%

.strip 
	position: absolute
	top: 0
	left: 0
	white-space: nowrap
	display: flex

	-webkit-transition-property: left
	transition-property: left
	transition-duration: 0.4s
	transition-timing-function: ease

.navButton
	background-color: transparent
	width: 40px
	color: #006dff
	font-weight: bold
	font-size: 24pt
	cursor: pointer
	outline: none