.filmstrip
	padding: 0
	max-width: 1240px
	margin: 0 -25px
	display: flex

.filmstrip__nav-btn
	border: 0
	margin: 0
	height: 100%
	background-color: transparent
	width: 40px
	color: #006dff
	font-weight: bold
	font-size: 24pt
	cursor: pointer
	:focus
		outilne: 0

.filmstrip__viewport
	overflow-x: hidden
	position: relative
	width: 100%

.filmstrip__strip
	position: absolute
	top: 0
	left: 0
	white-space: nowrap
	display: flex
	margin-left: -0.28em

	-webkit-transition-property: left
	transition-property: left
	transition-duration: 0.4s
	transition-timing-function: ease
	ul
		padding: 0
		list-style-type: none
