.flex-survey-task-chooser-choices
  background: rgba(24, 24, 24, 1)
  border: solid 1px rgba(24, 24, 24, 1)
  border-radius: 8px
  display: flex
  flex-flow: column wrap
  height: 440px
  padding: 4px
  overflow: auto
  min-width: 400px;

  > *
    margin: 0 2px 2px 0
    position: relative

.flex-survey-task-chooser-choice
  @extends $reset-button
  background: rgba(64, 64, 64, 1)
  color: white

  &:hover
    background: rgba(102, 102, 102, 1)

  > *
    margin: 0.3em 0.6em
