fieldset
  border: 1px solid rgba(black, 0.2)
  border-width: 1px 0 0
  margin: 1em 0
  padding: 0.5em 0

legend
  font-size: 0.7em
  font-weight: 700
  margin: 0 auto
  opacity: 1
  padding: 0 1em
  text-transform: uppercase
  letter-spacing: 0.05em

input:not([type="radio"]):not([type="checkbox"])
  min-width: 25em

  &[name="twitter"]::before
    content: "@"

.form-help
  color: gray
  font-size: 0.8em

  &.error
    color: red

  &.success
    color: green

  input + &,
  button + &
    margin-left: 0.5em
