.frame-annotator
  // Layout
  position: relative; // Contain absolutely-positioned children
  max-width: 100%;

  svg
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: hidden
    
  button.disabled
    color: #ADABAB;
