.frame-annotator
  // Layout
  position: relative; // Contain absolutely-positioned children
  max-width: 100%;

  .svg-subject
    background: #000
    pointer-events: none
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: hidden
    touch-action: pinch-zoom

    &.audio, &.application
      background: transparent
    &.application
      box-shadow: none
      -webkit-box-shadow: none

    svg
      width: 100%
      height: 100%


  button.disabled
    color: #ADABAB;
