h1,
h2,
h3,
h4
  margin: 0

h1
  font: 900 3em/1 SERIF

h2
  font: 900 2em/1 SERIF

h3
  font: 700 1em/1 SANS_SERIF
  letter-spacing: 0.1ex
  text-transform: uppercase

h4
  font: 700 1em/1 SANS_SERIF
