.label-renderer
  position: relative

  > div
    padding: 2%
    color: #efefef
    whitespace: pre-wrap
    width: 40ch
    
    &.text-viewer.invisible
      background: transparent
      position: absolute
      top: 0
      left: 0
      color: transparent