h3
  margin: 1em 0

.highlights__book-section
  display: inline-flex
  flex-direction: row
  flex-wrap: wrap
  max-width: 700px

  .highlights__book-description
    flex: 1 0 50%
    margin-left: 1em

