.label-renderer
  position: relative

  > div
    padding: 2%
    background-color: #ececec
    color: #000000
    whitespace: pre-wrap
    width: 40ch
    
    &.text-viewer.invisible
      display: none;
      
.fa-i-cursor
  font-weight: bolder
