.home-page
  .hero
    background: url(./assets/hero.jpg)
    padding: 340px 3vw
    text-align: center

    .hero-button
      background: #4bb187
      box-sizing: border-box
      padding: 0.925em 1.4em
      width: 250px

  .primary-row, .secondary-row
    padding: 1.5em 3vw
    text-align: center

  .primary-row
    background: LIGHT_GREY

  .secondary-row
    background: FOREGROUND
    color: white

  .featured-projects-list
    column-width: 20em
    column-gap: 3vw

  .call-to-try
    button
      margin: 1em 0
