LIGHT-BLUE-GREEN = #5CBDC1
DARK-BLUE-GREEN = #007482
DARK-BLUE = #0C4881
VERY-DARK-BLUE = #020D26
ORANGE-HIGHLIGHT = #E45950
GRAY = #EFF2F5

$absolute-fill
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

$flex-section
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center

.on-home-page-not-logged-in
  .app-layout__header
    background: rgba(0, 0, 0, 0.5)
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0))
    position: absolute
    width: 100%
    z-index: 1
    top: 0
    left: 0

  .zooniverse-logo, .site-nav__link
    opacity: 1
    color: #FFFFFF

  .modal-form .site-nav__link
    color: #000000

  h1, h2
    color: #FFFFFF
    font-size: 3em

    @media (max-width: 900px)
      font-size: 2em

    &.lighter
      font-weight: 400

.home-page-not-logged-in
  *:focus
    outline: none

  section
    @extends $flex-section
    position: relative
    min-height: 40vw

    @media (max-width: 900px)
      min-height: 100vh
      padding-top: 2em
      padding-bottom: 2em

  .zooniverse-logo
    position: relative
    width: 0.82em  // oddly-specific, but it aligns with text
    top: 0.14em

  .standard-button
    border: 2px solid
    border-radius: 6px
    border-color: #FFFFFF
    background: none
    padding: 0.75em 1.75em
    transition: background 500ms ease
    margin: 50px 10px 0 10px
    font-size: 1.5em
    font-weight: bold
    text-decoration: none

    @media (max-width: 900px)
      margin-top: 20px

    &:visited
      color: #FFFFFF

    &:hover,
    &:active,
    &:focus
      background: #FFFFFF
      color: DARK-BLUE-GREEN

  .home-link-down
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    text-align: center
    border: none
    background: none
    color: #FFFFFF
    font-size: 5em

    @media (max-width: 900px)
      display: none

  .home-intro, .home-promoted
    h1
      font-size: 3.5em

  .home-intro
    background-color: GRAY
    z-index: 0
    min-height: 50vw // video is 2:1 aspect ratio and 100% width

    video
      display: none

    .home-mobile-video-image
      display: block

    @media (min-width: 900px)
      video
        display: block

      .home-mobile-video-image
        display: none

    @media (max-width: 900px)
      min-height: 100vh

    video, .home-mobile-video-image
      @extends $absolute-fill
      z-index: -1
      object-fit: cover

    .home-intro-buttons
      display: flex
      flex-flow: row wrap
      justify-content: center

    .intro-button
      border: 0
      border-radius: 6px
      box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px 0
      background: rgba(255, 255, 255, 0.9)
      padding: 0.75em 1.75em
      transition: background 500ms ease
      margin: 50px 10px 0 10px
      font-size: 1.5em
      font-weight: bold
      text-decoration: none
      color: DARK-BLUE-GREEN

      @media (max-width: 900px)
        margin-top: 20px

      &:hover,
      &:active,
      &:focus
        background: LIGHT-BLUE-GREEN
        color: #FFFFFF

  .home-discover
    background-color: GRAY

    h1, p
      color: DARK-BLUE

    p
      margin: 20px auto
      width: 50vw
      font-size: 2em

      @media (max-width: 900px)
        width: 100%
        font-size: 1.5em

    .discover-button
      border: 2px solid
      border-radius: 6px
      border-color: DARK-BLUE
      background: none
      padding: 0.75em 1.75em
      transition: background 500ms ease
      margin: 50px 10px 0 10px
      font-size: 1.5em
      font-weight: bold
      text-decoration: none
      color: DARK-BLUE

      @media (max-width: 900px)
        margin-top: 20px

      &:hover,
      &:active,
      &:focus
        background: DARK-BLUE
        color: #FFFFFF

  .home-promoted
    padding: 0

    .promoted-projects
      width: 100%

      .promoted-project
        @extends $flex-section
        @extends $absolute-fill

        *
          opacity: 0

        .description
          top: 50px
          transition: top 0ms

        &.current
          *
            opacity: 1
            z-index: 2

          .description
            top: 10px
            transition: all 750ms ease-out

          .layer
            z-index: 1

          .background-image
            z-index: 0

    .background-image
      @extends $absolute-fill
      object-fit: cover
      transition: opacity 750ms ease-out

    .layer
      @extends $absolute-fill
      background: linear-gradient(top, rgba(DARK-BLUE-GREEN, 0.25), rgba(DARK-BLUE-GREEN, 0.4))

    .description
      position: relative
      margin-top: 10px
      margin-bottom: 10px
      font-size: 3em
      color: #FFFFFF

      @media (max-width: 900px)
        font-size: 2em

    &:hover
      .controls
        opacity: 1

    .controls
      opacity: 0
      transition: opacity 500ms ease-in-out
      color: #FFFFFF

      &.angles
        position: absolute
        font-size: 4em
        border: 3px solid #FFFFFF
        border-radius: 50%
        text-align: center
        width: 25px
        height: 25px
        line-height: 25px
        top: calc(50% - 12.5px) // vertically centered
        padding: 10px
        cursor: pointer

        &.fa-angle-left
          left: 50px

        &.fa-angle-right
          right: 50px

      &.circles
        position: absolute
        bottom: 15%
        left: 0
        width: 100%
        text-align: center

        .fa-circle, .fa-circle-o
          margin: 0 5px 0 5px
          cursor: pointer

      @media (max-width: 900px)
        &.angles
          display: none

        &.circles
          opacity: 1
          font-size: 1.5em

          .fa-circle, .fa-circle-o
            margin: 0 15px

    .owner
      position: absolute
      bottom: 50px
      left: 2vw
      margin: 0
      color: #FFFFFF

      @media (max-width: 900px)
        display: none

  .home-social
    background-color: GRAY
    padding: 50px 30px

    @media (max-width: 900px)
      padding 2em

    h1
      color: DARK-BLUE
      margin: 20px auto

    h2, h2 a
      color: DARK-BLUE
      margin: 20px auto
      font-size: 20px
      text-decoration: none

    .home-social-columns
      width: 100%
      display: flex
      flex-direction: row
      justify-content: space-around

      @media (max-width: 900px)
        display: block

      .home-social-column
        text-align: left

        ul
          list-style: none
          padding: 0

          li
            margin: 0 0 2.5em 0
            max-width: 100vw

            @media (min-width: 900px)
              max-width: 25vw

            h3
              font-weight: bolder
              line-height: 15px

            h3, p
              a
                text-decoration: none
                color: inherit

        .home-social-timestamp
          margin: 0.5em 0
          font-size: 1.25em
