@keyframes fade-in-video
  from
    opacity: 0
  to
    opacity: 1

$absolute-fill
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

$flex-section
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center

.on-home-page-not-logged-in
  .app-layout__header
    background: rgba(0, 0, 0, 0.5)
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0))
    position: absolute
    width: 100%
    z-index: 1
    top: 0
    left: 0

  .site-nav__link
    opacity: 1

  .modal-form .site-nav__link
    color: #000000

.home-page-not-logged-in
  .home-intro
    background-color: ZOONIVERSE_TEAL
    box-sizing: border-box
    justify-content: flex-end
    min-height: 30vw
    padding: 2em 0
    text-align: center
    z-index: 0
    overflow: hidden

    video
      display: none
      animation: fade-in-video 1.5s

    .home-mobile-video-image
      display: block

    @media (min-width: 900px)
      video
        display: block

      .home-mobile-video-image
        display: none

    @media (max-width: 900px)
      justify-content: center
      min-height: 100vh

    video, .home-mobile-video-image
      @extends $absolute-fill
      object-fit: cover
      width: 100vw
      z-index: -1

    video
      @media all and (-ms-high-contrast:none)
        top: -50%
        height: 60vw

  .home-research
    padding: 5em 0
    text-align: left

    button[class=primary-button]
      color: black

    h2, h3, p
      display: inline
      margin: 0

    &__classification-count
      text-align: center

    &__buttons
      text-align: center

      .tertiary-kicker
        font-size: 0.65em

      button
        margin-top: 1.5em

      h2
        display: block

    &__researchers
      display: flex
      max-height: 100%
      max-width: 100%
      overflow: hidden

      img
        height: auto
        margin: 5em 0
        width: 100%

    &__content
      align-items: center
      box-sizing: border-box
      display: flex
      flex-direction: column
      max-width: 50%
      text-align: center

      .tertiary-kicker
        margin-bottom: 1.25em

      @media (max-width: 900px)
        max-width: 75%
        padding: 0 10vw
        text-align: left

      span
        margin: 1.5em 0

        a
          padding: 0.8em 3em

        @media (max-width: 900px)
          margin-left: 0

  .home-discover
    background-color: BACKGROUND_COLOR
    display: flex
    flex-flow: row wrap
    padding: 3em 0
    text-align: left

    .secondary-kicker
      margin-bottom: 1em

    hr
      border-color: white

    @media (max-width: 900px)
      min-height: auto

    &__image
      flex-grow: 2
      flex-shrink: 0
      flex-basis: 0
      min-width: 20em
      text-align: right

      img
        height: auto
        max-width: 35em
        width: 100%

    &__content
      flex-grow: 3
      flex-shrink: 0
      flex-basis: 0
      margin: 0 5vw 5vh 10vw
      min-width: 50%

      a
        img
          max-height: 2em
          margin-right: 1em

      button[class=primary-button]
        color: black

  &__project-card
    border-color: LIGHT_GREY
    border-radius: 0
    height: 24em
    max-height: 24em
    max-width: 18em
    width: 18em

    .details
      height: 50%

      .name, .description
        text-align: left

      .description
        display: -webkit-box
        height: 4.5em
        margin-top: 0
        overflow: hidden
        text-overflow: ellipsis
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical

    hr
      margin: 0.5em 0

    a[class=primary-button], button[class=primary-button]
      box-sizing: border-box
      color: black
      margin: 0
      text-align: center

    :hover > &,
    :focus > &
      .details
        height: 50%

.on-home-page
  font-family: 'Karla', sans-serif;

  *:focus
    outline: none

  section
    @extends $flex-section
    min-height: 30vw
    position: relative

  .standard-button
    border: 2px solid
    border-radius: 6px
    border-color: #FFFFFF
    background: none
    padding: 0.75em 1.75em
    transition: background 500ms ease
    margin: 50px 10px 0 10px
    font-size: 1.5em
    font-weight: bold
    text-decoration: none

    @media (max-width: 900px)
      margin-top: 20px

    &:visited
      color: #FFFFFF

    &:hover,
    &:active,
    &:focus
      background: #FFFFFF
      color: ZOONIVERSE_TEAL

  .main-kicker
    color: TEAL_LIGHT
    font-family: 'Oswald', sans-serif
    font-size: 1.5em
    letter-spacing: 0.18em
    text-transform: uppercase

    @media (max-width: 900px)
      font-size: 1em

  .secondary-kicker
    color: TEAL_MID
    font-family: 'Oswald', sans-serif
    font-size: 1em
    letter-spacing: 0.16em
    text-transform: uppercase

  .tertiary-kicker
    color: #5c5c5c
    font-size: 1em
    font-weight: 700
    letter-spacing: 0.22em
    margin-bottom: 1em
    text-transform: uppercase

  .main-headline
    color: #ffffff
    font-size: 3.25em
    font-weight: 700

    @media (max-width: 900px)
      font-size: 2em

  .secondary-headline
    color: #5c5c5c
    font-size: 2.5em
    font-weight: 700
    line-height: 1.25em

    @media (max-width: 900px)
      font-size: 2em

  .tertiary-headline
    color: #5c5c5c
    font-size: 2.25em
    font-weight: 700
    line-height: 1.2em

    @media (max-width: 900px)
      font-size: 2em

  .timestamp-label
    color: #000000
    font-size: 0.85em
    font-weight: 700
    margin-bottom: 0.4em
    text-transform: uppercase

  .class-counter
    color: TEAL_MID
    font-family: 'Oswald', sans-serif
    font-size: 8em
    font-weight: 300
    letter-spacing: 0.02em
    line-height: 1.2em

    @media (max-width: 900px)
      font-size: 3em

  .display-body
    font-size: 1.2em
    font-weight: 700

  .regular-body, .display-body
    font-size: 1em

    a
      color: #007482
      text-decoration: none

      &:hover
        color: TEAL_MID

      &:visited
        color: #005d69

  .primary-button
    background: transparent
    border: 1px solid #cc9200
    color: white
    cursor: pointer
    font-size: 0.8em
    margin: 0.75em 1em 0.75em 0
    padding: 0.75em 0.75em
    text-decoration: none
    width: 150px

    &:hover,
    &:active,
    &:focus
      background: #cc9200
      color: #FFFFFF

    &--light
      background: #F0B200
      border: 1px solid #F0B200
      color: white

      &:hover
        background: #cc9200
        border-color: #cc9200

  .home-featured
    background: #fff
    padding: 4em 0

    .secondary-kicker
      font-size: 1.25em

    .secondary-headline
      max-width: 100%

    p
      font-size: 1em
      width: 50vw

      a
        font-size: inherit

      @media (max-width: 900px)
        width: 100%

    .home-featured-images
      display: flex
      flex-direction: row
      margin: 2em 0
      justify-content: center
      align-items: center

      img
        display: block
        flex: 1 1 auto
        height: auto
        width: 100%

        @media (max-width: 900px)
          max-width: 80vw

  .home-promoted
    background-color: BACKGROUND_COLOR
    padding: 2em 0

    &__cards
      display: flex
      margin: 1em 0

      @media (max-width: 1225px)
        display: block
        column-count: 2
        -moz-column-count: 2
        -webkit-column-count: 2
        column-gap: 0
        -moz-column-gap: 0
        -webkit-column-gap: 0

      @media (max-width: 625px)
        display: flex
        flex-direction: column

      > div
        margin: 0 0.5em

    &__content
      display: flex
      flex-direction: column
      margin: 2em 22vw
      align-items: stretch

      &:before
        content: ""
        position : absolute
        text-align: center
        top: 0
        left: 10%
        height: 1px
        right: 10%
        border-bottom: 1px solid LIGHT_GREY

  .home-social
    display: flex
    background-color: BACKGROUND_COLOR
    padding: 4em

    @media (max-width: 700px)
      padding: 4em 2em

    hr
      margin: 2em 1.5em

    &__blog-section
      box-sizing: border-box
      padding: 1.5em

      &--white
        background-color: white

      &--gray
        padding: 0 1.5em

        hr
          margin: 2em 0

    &__blog-post
      display: flex
      flex-flow: row wrap
      width: 100%

      div:first-child
        background-size: cover
        background-position: center
        height: 14em
        margin: 0.5em 1em 0.5em 0
        width: 18em

      div:nth-child(2)
        flex: 2 0 0%
        min-width: 50%

        div
          margin-top: 0.5em

    a
      text-decoration: none

      &:hover, &:focus
        color: ZOONIVERSE_TEAL

    .primary-button, .primary-button--light
      text-align: center

    .tertiary-headline
      font-size: 1.5em
      margin-bottom: 0.5em

      &__headline
        font-size: 2em
        margin-bottom: 0.5em

      @media (max-width: 900px)
        font-size: 1em

    .secondary-headline
      margin: 0.25em

    .tertiary-kicker
      margin-bottom: 1em

    &__italic-link
      color: TEAL_MID
      font-style: italic

    &__icons
      margin-top: 1.5vh
      overflow: hidden
      width: 20em

      i
        color: TEAL_MID
        font-size: 1.25em
        margin: 0 0.4em

        &:hover, &:focus
          color: ZOONIVERSE_TEAL

      span
        position: relative

      span:before, span:after
        background: TEAL_LIGHT
        content: ""
        height: 1px
        position: absolute
        top: 50%
        width: 10vw

      span:before
        right: 100%
        margin-right: 10px

      span:after
        left: 100%
        margin-left: 10px

    &__content
      display: flex
      flex-flow: row wrap
      margin: 5em 0
      max-width: 100%
      text-align: left
      width: 100%

      &--vertical-line
        border-left: 1px solid #CBCCCB
        margin-right: 3em

        @media screen and (max-width: 900px)
          display: none

    &__news
      align-items: flex-start
      display: flex
      flex: 2 0 0%
      flex-direction: column
      margin-right: 3em
      max-width: 100%
      min-width: 16em

      div, span
        width: 100%

      hr
        margin: 1.5em 0
        width: 100%

    &__daily
      display: flex
      flex: 5 0 34em
      flex-direction: column
      max-width: 100%

      span
        word-break: break-word

      .primary-button
        margin-left: 2.5em

    .project-card
      margin: 0

      hr
        margin: 0
