.home-page
  .hero
    background: LIGHT_GREY
    padding: 20vh 3vw
    text-align: center

  .primary-row, .secondary-row
    padding: 1.5em 3vw
    text-align: center

  .primary-row
    background: LIGHT_GREY

  .secondary-row
    background: FOREGROUND
    color: white

  .featured-projects-list
    column-width: 20em
    column-gap: 3vw

  .call-to-try
    button
      margin: 1em 0
