.home-page
  .hero
    background: LIGHT_GREY
    padding: 20vh 3vw
    text-align: center

  .secondary-row
    background: FOREGROUND
    color: white
    padding: 1.5em 3vw
    text-align: center

  .call-to-try
    button
      margin: 1em 0
