GRAY = #EFF2F5

.home-page-for-user
  background: black
  color: white
  display: flex
  flex-direction: column
  flex-grow: 1
  padding-top: 5vh
  position: relative

  &__background
    background-color: #0f7481
    height: 100%
    left: 0
    opacity: 0.5
    position: absolute
    top: 0
    width: 100%

  &__content
    align-items: center;
    display: flex
    flex-direction: column
    flex-grow: 1
    font-size: 1.6em
    margin-top: 5em

  &__welcome
    font-size: 1.2em
    margin: 1em 2em
    text-align: center

  &__menu
    display: inline-flex
    flex-wrap: wrap
    margin: 1em 2em 0 2em

  &__down-arrow
    margin: 1.875em 0 2em 0

  &__menu-column
    display: flex
    flex-direction: column

  &__menu-button
    color: inherit
    display: block
    text-decoration: none
    white-space: nowrap

    &:focus,
    &:hover
      background: lighten(rgba(66, 66, 66, 0.25), 50%)

  &__menu-label
    display: block
    padding: 1em 2em
    text-align: left

  &__change-background
    cursor: pointer
    left: 5vw
    position: absolute
    top: 10vh

    label
      border: 1px solid white
      border-radius: 1em
      cursor: pointer
      display: block
      opacity: 0.15
      transition: opacity 0.4s

      &:hover
        background: white
        color: black
        opacity: 10

      span
        display: block
        font-weight: bold
        padding: 1em

    input
      left: -9999px
      position: absolute

      &:focus + label
        background: white
        color: black
        opacity: 10

.home-page-section
  align-self: stretch
  background: BACKGROUND_COLOR
  color: black
  flex-grow: 1
  font-size: 1em

  &__header
    background: #0f7481
    color: white
    display: flex
    padding: 0.5em 2em

  &__header-label
    flex-grow: 1
    text-align: center

  &__error
    background: rgba(red, 0.3)
    color: black
    font-size: 0.8em
    font-weight: bold
    padding: 0.5em 2em
    text-align: center

  &__sub-header
    font-size: 0.8em
    font-weight: bold
    text-align: right

  &__content
    background-color: GRAY
    padding: 1em 2em

    .project-card-list
      overflow: auto

      .closed
        overflow: hidden
        max-height: 0

      .open
        max-height: 1000px
        transition: max-height .5s ease-out

.home-page-project-stats
  flex-grow: 1
  position: relative;
  z-index: 1

  &__content
    position: relative
    z-index: 1

.outlined-button
  border: 0.07em solid
  border-radius: 0.3em
  color: #0f7481
  display: inline-block
  margin-bottom: 0.5em
  padding: 0.1em 1em
  text-decoration: none

