// extends ./talk

.inbox
  max-width: 800px
  width: 100%
  margin: 2em auto

  .conversation-link
    @extend .talk-module
    width: 100%

    &.unread
      border-color: MAIN_HIGHLIGHT

    > div
      display: inline-block
      width: 20%
      font-size: 12px
      word-wrap: break-word
      color: lighten(COPY, 30%)

      strong a
        display: inline
        color: COPY
        font-style: normal

      > div
        font-style: italic

    > a
      vertical-align: calc(50%)

    > div
    i
      margin-right: TALK_PADDING

.inbox-conversation
  max-width: 800px
  width: 100%
  margin: 2em auto

  .conversation-message
    @extend .talk-module
    span
      strong
        font-size: 12px
      span
        float: right
        font-size: 10px
        font-style: italic
    p
      margin: 5px 0

.new-message-form
  @extend .talk-module
  @extend .talk-form

  textarea
    width: 100%
