._jsPlumb_connector
  z-index: 0

/** DISABLE TEXT SELECTION (SET ON BODY WHEN DRAGGING IS OCCURRING) **/
._jsPlumb_drag_select *
  -webkit-touch-callout: none
  user-select: none

._jsPlumb_endpoint
  z-index:19

._jsPlumb_overlay
  z-index:20

path, ._jsPlumb_endpoint
  cursor: pointer
