$grey1 = #A6A7A9
$grey2 = #808080
$grey3 = #5C5C5C
$grey4 = #979797
$grey5 = #E2E5E9
$grey6 = #EFF2F5
$nearBlack = #404040
$black = #000000
$teal = #005D69  // Dark teal. Alternate is #00979D
$darkGreen = #005D69
$greenBright = #1ED359
$redBright = #E45950
$yellow = #F0B200
$orange = #D47811
$darkOrange = #70481C
$white = #FFFFFF
$backdropColour = #80808080
$shadowColour = #00000080

$sizeXS = 4px
$sizeS = 8px
$sizeSM = 12px
$sizeM = 16px
$sizeL = 24px
$sizeXL = 32px
$sizeXXL = 64px

$fontFamilies = Karla, Arial, sans-serif

$fontSizeXS = 10px
$fontSizeS = 14px
$fontSizeM = 16px
$fontSizeL = 18px
$fontSizeXL = 24px

$fontWeightBold = 600
$fontWeightBoldPlus = 700

// Container
// Affects everything outside the pages editor
// -----------------------------------------------------------------------------
.columns-container.content-container.pages-editor-container
  margin: 0

// Pages Editor
// -----------------------------------------------------------------------------
.lab-pages-editor
  accent-color: $teal
  box-sizing: border-box
  color: $black
  font-family: $fontFamilies
  font-size: $fontSizeM
  margin: 0 auto

  // General UI
  // ---------------------------------------------------------------------------
  *
    box-sizing: border-box
  
  a
    color: $black
    text-decoration: none

  input
  textarea
    font-family: $fontFamilies
    font-size: $fontSizeM
  
  input[type=text], input[type=number]
    border: 1.5px solid $grey1
    color: $black
    padding: $sizeS
  
  input[type=radio], input[type=checkbox]
    flex: 0 0 auto
    width: $fontSizeM
    height: $fontSizeM
  
  textarea
    border: 1.5px solid $grey1
    padding: $sizeS
  
  select
    border: 1.5px solid $grey1
    border-radius: $sizeXS
    color: $black
    font-size: $fontSizeM
    padding: $sizeS
  
  button
    border-radius: $sizeXS
    color: $black
    cursor: pointer
    font-family: $fontFamilies

    &.big
      border: none
      box-shadow: 1px 1px 4px 0px #00000040
      font-size: $fontSizeS
      padding: $sizeSM
    
    &.primary
      background: $yellow
    
    &.plain
      background: none
      border: none
  
  a.button-link
    border: 1px solid $yellow
    border-radius: $sizeXS
    color: $black
    cursor: pointer
    display: inline-block
    font-family: $fontFamilies
    font-size: $fontSizeS
    line-height: 1em
    padding: $sizeSM
    text-align: center

  hr
    border-top: 1px solid $grey2
  
  .disabled, .disabled *, [disabled]
    color: $grey1
  
  // Common Components
  // ---------------------------------------------------------------------------

  .workflow-version
    color: $orange

  .status-banner
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0.5em

    &.error
      background: $redBright
      color: $white
  
  .step-label
    border-radius: 8px 0px 16px 0px;
    background: linear-gradient(276deg, rgba(240, 178, 0, 0.80) 0%, rgba(212, 120, 17, 0.80) 100%), #F6D885;
    background: $yellow
    color: $black
    font-size: 10px
    font-weight: 500
    padding: 9px 29px

  // General Layout
  // ---------------------------------------------------------------------------

  main-content()
    max-width: 840px
    margin: 0 auto
    padding: 0 $sizeS

  flex-row()
    align-items: center
    display: flex
    flex-direction: row
    gap: $sizeS

  .flex-row
    flex-row()
  
  .flex-wrap
    flex-wrap: wrap
  
  .small-width
    width: 60px

  .flex-item, .spacer
    flex: 1 1 auto
  
  .align-start
    align-items: flex-start

  .justify-around
    justify-content: space-around
  
  .justify-center
    justify-content: center
  
  .position-relative
    position: relative
  
  .spacing-bottom-XS
    margin-bottom: $sizeXS
  
  .spacing-bottom-S
    margin-bottom: $sizeS
  
  .spacing-bottom-M
    margin-bottom: $sizeM
  
  // Component: Workflow "Header" components
  // ---------------------------------------------------------------------------

  .workflow-top-links
    flex-row()
    background: $teal
    color: $white
    margin-bottom: 30px
    min-height: 60px
    padding: $sizeS $sizeM

    a
      display: inline-block
      color: $white
      font-size: $fontSizeS
      text-decoration: none
      min-width: 40%

      .icon
        margin-right: $sizeS
    
    .zooniverse-logo
      max-width: 160px

  .workflow-header-title
    main-content()
    flex-row()
    margin-bottom: 30px

    h1
      font-size: 24px
      font-weight: 700

    .preview-link
      font-size: 12px
      line-height: 16px
      color: $grey3

  .workflow-header-tabs
    main-content()
    flex-row()
    justify-content: center
    gap: $sizeXL
    border-bottom: 0.5px solid $grey1

    button
      background: none
      border: none
      border-radius: 0
      cursor: pointer
      font-size: 18px
      padding: 4px 20px
      text-transform: uppercase

      &[aria-selected=true]
        border-bottom: 4px solid $orange
        color: $nearBlack
        font-weight: 700
      
      &[aria-selected=false]
        color: $grey3
        border-bottom: 4px solid transparent
        font-weight: 500

        &:hover
          color: $nearBlack
          border-bottom: 4px solid $nearBlack

  // Component: Workflow Settings Page
  // ---------------------------------------------------------------------------

  .workflow-settings-page
    main-content()
    display: grid
    gap: $sizeM
    grid-template-columns: 50% auto
    grid-template-rows: auto auto
    margin-top: $sizeS

    // Workflow Title
    .workflow-title
      grid-column: 1 / span 2
      grid-row: 1

      label[for=display_name]
        display: block
        font-size: $fontSizeL
        font-weight: $fontWeightBoldPlus
        margin-bottom: $sizeXS
        text-transform: uppercase

      input[name=display_name]
        border-radius: $sizeXS
        display: block
        font-size: $fontSizeL
        width: 100%
      
      .workflow-id
        color: $grey2
        background: $white
        position: absolute
        right: $sizeS
    
    // Group of Config Options/Controls
    fieldset
      border: none
      margin-bottom: $sizeM
      padding: 0

      legend
        font-weight: $fontWeightBold
        font-size: $fontSizeL
        padding: 0
        text-transform: uppercase
      
      p
        font-size: $fontSizeS
      
      p.small-info
        font-size: $fontSizeS
        font-style: italic
      
      span.small-info
        font-size: $fontSizeS

    .col-1
      grid-column: 1
      grid-row: 2

    .col-2
      grid-column: 2
      grid-row: 2
    
    ul.input-group
      list-style: none
      padding: 0
      margin: 0

      li
        display: flex
        flex-direction: row
        gap: $sizeXS
        margin: $sizeXS 0
        padding: 0

        input[type=checkbox]
          margin: $sizeXS

  // Component: Tasks Page
  // ---------------------------------------------------------------------------

  .tasks-page
    main-content()

    .tasks-page-overview
      flex-row()
      font-size: 12px
      margin: 10px 0 0 0

    .status-active, .status-inactive
      margin-left: $sizeS
      padding-right: $sizeS
      text-transform: uppercase
      border-right: 1px solid $grey1

    .status-active
      color: $greenBright

    .status-inactive
      color: $redBright
    
    .no-tasks-notice
      padding: $sizeL
      text-align: center

      .icon
        color: $yellow
        font-size: $sizeXXL
      
      p
        color: $grey1
    
    .task-inbetween
      display: flex
      align-items: center

      .decoration-line
        flex: 1 1 auto
        height: 1px
        border-bottom: 1px solid $orange
      
      .next-step-icon
        color: $orange
        margin: 0 10px

    .add-task-button
      align-items: center
      background: none
      border: none
      color: $orange
      display: flex
      font-size: 18px
      margin: 0 auto
      padding: 10px
      text-transform: uppercase

      &:hover
        color: $yellow
        text-shadow: $yellow 1px 0 10px
      
      &:active
        color: $darkOrange
      
      .icon
        margin-left: 10px

    dialog
      border: 1px solid $grey1
      border-radius: $sizeS
      box-shadow: 1px 1px 6px 0px $shadowColour
      padding: 0
      width: 800px
      max-width: 90vw

      &::backdrop
        background: $backdropColour
      
      button.big
        border: 3px solid $grey1
        font-size: $fontSizeM
        padding: $sizeS $sizeM
        box-shadow: none
        text-transform: uppercase

        &.done
          border: 3px solid $teal
          min-width: 33%
          padding: $sizeS $sizeXL
        
        &[disabled]
          color: $grey1
      
      .dialog-header
        background: $teal
        color: $white
        padding: $sizeXS $sizeM
        text-transform: uppercase

        button
          color: $white
      
      &.new-task
        .dialog-body
          padding: $sizeS $sizeL
          background: $grey5

          button.new-task-button
            align-items: center
            display: flex
            flex-direction: column
            justify-content: center
            margin-bottom: $sizeM
            margin-right: $sizeM
            height: $sizeXXL
            width: $sizeXXL

            &:last-child
              margin-right: 0

            .fa
              font-size: $fontSizeXL
        
      &.edit-step
        background: $white
      
        .dialog-body
          max-height: 70vh
          overflow: auto
      
        fieldset.edit-task-form
          // Yup, the form is actually a fieldset, so maybe strip out the default values
          padding: $sizeM $sizeL
          margin: 0
          border-bottom: none
          border-left: none
          border-right: none
          border-top: 1px solid $grey1

          &:first-child
            border-top: none
          
          legend
            display: none  // TODO: reconsider design

          .input-row
            margin-bottom: $sizeSM
          
          label.big, span.big
            display: block
            font-weight: $fontWeightBold
            font-size: $fontSizeL
            text-transform: uppercase
          
          label.medium
            display: block
            font-size: $fontSizeM
            text-transform: uppercase
          
          label.narrow, span.narrow
            > *
              vertical-align: middle

          input[type=text]
          input[type=checkbox]
          textarea
            box-shadow: 1px 1px 4px 0px #00000040 inset
          
          input[type=text]
          textarea
            background: $grey6
            border-radius: $sizeXS
            color: $black
            padding: $sizeS $sizeM
            width: 100%
          
          textarea
            min-height: 8em
          
          .question-task
            ul
              list-style: none
              margin: 0
              padding: 0
            
            li
              margin: $sizeSM 0
              padding: 0
          
          .drawing-task
            ul
              list-style: none
              margin: 0
              padding: 0
            
            li
              background: $grey6
              border: 1px solid $darkGreen
              border-radius: $sizeXS
              margin: $sizeSM 0
              padding: $sizeM

            .grid
              display: grid
              gap: $sizeM
              grid-template-columns: auto auto 16.5% 16.5%
              grid-template-rows: auto auto
              margin-top: $sizeM

            .grid-item
              label
                display: block
              
              select, input
                width: 100%
              
              .with-preview
                .preview-box
                  border: 1px solid $black
                  flex: 0 0 auto
                  height: $sizeL
                  width: $sizeL

                select, input
                  flex: 1 1 auto
                  width: auto

            .grid-item-1
              grid-column: 1
              grid-row: 1
            
            .grid-item-2
              grid-column: 2
              grid-row: 1
            
            .grid-item-3
              grid-column: 3
              grid-row: 1
            
            .grid-item-4
              grid-column: 4
              grid-row: 1
            
            .grid-item-5
              grid-column: 3 / span 2
              grid-row: 2
        
      .dialog-footer
        padding: $sizeXS $sizeL $sizeL $sizeL
        margin-bottom: $sizeS

    section
      h3
        color: $black
        font-size: $fontSizeL
        font-weight: $fontWeightBold
        margin: 0
        text-transform: uppercase
    
    .steps-list
      list-style: none
      margin: 0 0 30px 0
      padding: 0

    .step-item
      .step-body
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(239, 242, 245, 0.40) 100%), $white;
        border: 0.5px solid $grey1
        border-radius: 8px
        box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
        overflow: visible

        &:active
        &:has(.move-button:focus)  // Note: :has() is experimental as of Nov 2023, and not supported on Firefox
          outline: 2px solid $yellow
        
        .step-body-inner  // Redundant inner content is used for styling "branching next step extrudes from step-body"
          padding: 0

      .step-controls
        cursor: grab

        &:active
          cursor: grabbing
        
        .move-button:focus
          outline: 1px solid $yellow
        
        .step-controls-left
          min-width: 5rem
        
        .step-controls-center
          margin: auto

          > *
            vertical-align: middle
            color: $grey1
        
        .step-controls-right
          text-align: right
          min-width: 5rem

          button
            background: $white
            border: 1px solid $yellow
            border-radius: $sizeS
            margin-left: $sizeXS

            .fa
              color: $grey3
            
            &.disabled
              background: $grey2

      .step-drop-target
        padding: 5px  // In practice, the drop target is twice the height of the padding. 

        &.active
          background: $greenBright
          padding: $sizeL $sizeS
      
      .task-inbetween
        margin-top: 10px

    .tasks-list
      list-style: none
      padding: $sizeS $sizeM
    
    .task-item
      margin-top: $sizeL

      &:first-child
        margin-top: 0

      .task-text
        font-size: $fontSizeM
        font-weight: $fontWeightBold
      
    .grab-handle
      cursor: grab

      &:active
        cursor: grabbing

    .next-controls

      .next-arrow
        color: $yellow
        display: block
        margin: 0 auto
      
      select
        background: $yellow
        border-radius: $sizeM
        border: 2px solid $grey1
        font-size: $fontSizeS

        &.next-is-submit
          background: $white
          border: 2px solid $yellow
          color: $black

      &.simple-next-controls
        display: flex
        flex-direction: column
    
    ul.horizontal-list
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      list-style: none
      margin: 0
      padding: 0
      
      li
        display: flex
        flex-direction: column
        margin: 0 $sizeM $sizeS $sizeM
        padding: 0
    
    div.vertical-layout
      display: flex
      flex-direction: column
      align-items: center
  
  .task-key
  .step-key
    background: $grey3
    border-radius: $sizeM
    color: $white
    font-size: $fontSizeXS
    padding: 0 $sizeS
  
  .fake-button
    background: $white
    border: 1px solid $grey1
    border-radius: 2px
    color: $black
    font-family: $fontFamilies
    font-size: $fontSizeS
    padding: $sizeS $sizeM
    text-align: center
  
  .fake-submit
    background: $white
    border-radius: $sizeM
    border: 2px solid $yellow
    color: $black
    font-size: $fontSizeS
    padding: $sizeS $sizeM
  
  .fake-text-input
    background: $white
    border: 1px solid $grey1
    border-radius: 2px
    color: $grey4
    font-family: $fontFamilies
    font-size: $fontSizeS
    padding: $sizeS $sizeM
    box-shadow: 1px 1px 4px 0px $shadowColour inset
  
  .fake-drawing-tools
    list-style: none
    margin: 0
    padding: 0

    li
      background: $darkGreen
      border-radius: $sizeXS
      color: $white
      font-size: $fontSizeS
      margin: 0 auto $sizeS auto
      max-width: 600px
      padding: $sizeS $sizeL

    .icon-wrapper
      background: $black
      border-radius: $sizeXS
      display: flex
      justify-content: center
      align-items: center
      padding: $sizeS

  .pfe-workflow-warning
    border: 1px solid $yellow
    border-radius: $sizeS
    padding: $sizeM

.debug-0
  width: 6em

.debug-1
  background: #f0c0c0
  margin: auto

.debug-2
  background: #c0f0f0
  text-align: right
  width: 6em
