.researcher-quote
  z-index: 2

.data-exports
  .row
    margin: 0.8em 0
  .data-export-warning
    background-color: #fff8c4
    border: 1px solid #f2c779
    padding: 0 1em
    margin-bottom: 1em

.lab-index-project-list
  margin: 0
  padding: 0

  &__item
    border-top: 1px solid rgba(gray, 0.2)
    display: block

    &:first-child
      border-top: 0

.lab-index-project-row
  align-items: center
  display: flex

  &__link
    color: inherit
    text-decoration: none

  &__group
    align-items: inherit
    display: flex
    flex: 1 1 auto

  &__avatar
    background-position: 50%, 50%
    background-size: cover
    flex: 0 0 2.5em
    height: 2.5em

  &__description
    flex: 1 1 auto
    padding: 0.5em 1em

    &:first-child
      padding-left: 0

  &__icon-button
    color: MAIN_HIGHLIGHT
    flex: 0 0 auto
    font-weight: bold
    padding: 0.5em 0.7em

  &__action
    &:hover
      background: rgba(MAIN_HIGHLIGHT, 0.2)

    &:active
      background: MAIN_HIGHLIGHT
      color: white

.lab-visibility
  &__policy-reviews
    border: none
    padding: 0

.edit-project-talk
  .suggested-tags
    input[type="text"]
      display: inline-block
      border: 1px solid #DDDDDD
      width: 150px

    .suggested-tag
      margin: 10px 0

    .single-submit-button
      margin-left: 20px
      line-height: 0.8em
      font-size: 0.8em

    .error
      padding: 0 10px
      color: ALERT_COLOR

.external-links-table, .edit-social-links
  >.drag-reorderable
    > [draggable]
      >td:first-of-type
        border-left: 1ch solid rgba(gray, 0.2)

.edit-social-links
  margin: 1em 0

.disabled-section
  pointer-events: none
  opacity: 0.4

.feedback-section
  margin-top: 1em

  &__new-feedback-button
    margin-top: 1em

  &__feedback-item
    font-family: "Courier New", Courier, monospace

    &-label
      margin-right: 1em

    button
      margin-right: 0.5em

    .fa
      color: red

.edit-feedback-modal
  max-width: 500px

  label
    margin-top: 0.7em
    display: block

  small
    display: block
    margin-bottom: 0.5em

  &__buttons
    text-align: center
    margin: 1em 0

    button
      margin: 0 1em

  fieldset
    border: none
    margin: 0
    padding: 0

.view-project-button
  display: block
  margin: 1vw 0

.translations
  margin: 0
  list-style-type: none

  li
    border-top: 1px solid rgba(gray, 0.2)
    color: MAIN_HIGHLIGHT
    display: block
    padding: 0.5em 0.7em

    &:first-child
      border-top: 0

    a
      color: inherit
      padding: 0.5em 0.7em
      text-decoration: none

      span
        display: inline-block
        width: 60%

    i
      font-weight: bold

    a
      &:hover
        background: rgba(MAIN_HIGHLIGHT, 0.2)

      &:active
        background: MAIN_HIGHLIGHT
        color: white
