.landing-page
  align-items: center
  background: url(/assets/builder-landing.jpg) center center no-repeat
  background-size: cover
  color: #f9f9f9
  display: flex
  flex-direction: column
  min-height: 100vh
  justify-content: center
  padding: 2.5em 3vw

  @media screen and (max-width: 400px)

    svg
      margin-top: 15vh

  .landing-title
    color: inherit
    font-weight: 300
    line-height: 40px
    padding: 1.5em 0 0.5em

  .landing-tagline
    .markdown p
      color: inherit
      font-size: 1.6em
      line-height: 22px
      margin: 0 auto
      max-width: 600px
      padding: 1em 0 6.5em

  .landing-buttons
    display: inline-block

    .landing-button
      display: block
      box-sizing: border-box
      color: #fbfbfb
      font-size: 1.6em
      font-weight: 400
      margin-bottom: 3vh
      padding: 1em 0
      width: 250px

      &:hover
        background: lighten(TEAL_MID, 20%)

  .landing-links
    display: inline-block
    margin-left: 3em
    padding: 0 0 0 7.5px
    border-left: 2px solid #FFFFFF

    .heading
      color: #fbfbfb
      margin: 0 0 5px 0

    a
      display: block
