body
  margin: 0

.panoptes-main
  display: flex
  flex: 1 0 auto
  flex-direction: column
  min-height: 100vh // TODO: iOS's `vh` is buggy, so work around it.

.main-content
  display: flex
  flex: 1 0 auto
  flex-direction: column

.content-container
  margin: 1.5em 3vw

.columns-container
  display: flex
  flex-wrap: wrap

  > :not(:last-child)
    margin-right: 1.5vw

  > hr
    border-width: 0 0 0 1px
    height: auto
    margin-bottom: 0
    margin-top: 0

  &:not(.inline)
    > :not(hr)
      flex: 1 1
      min-width: 15em

    > .column
      flex-grow: 5

  &.inline
    align-items: baseline

    > hr
      height: 0.8em

  &.spread
    justify-content: space-between
