body
  margin: 0

.panoptes-main
  display: flex
  flex: 1 0 auto
  flex-direction: column
  min-height: 100vh // TODO: iOS's `vh` is buggy, so work around it.

.main-content
  display: flex
  flex: 1 0 auto
  flex-direction: column

@require "./content-container"
@require "./tabbed-content"
@require "./columns"
@require "./dialog"
