@keyframes loading-indicator-bounce
  0%
    transform: translateY(-0.3em)

  100%
    transform: translateY(0.3em)

.loading-indicator
  letter-spacing: 0.1em

  > *
    TIME = 500ms

    animation: loading-indicator-bounce TIME ease-in-out infinite alternate
    display: inline-block

    &:nth-child(3n-1)
      animation-delay: unit(TIME / 3, unit(TIME))

    &:nth-child(3n-2)
      animation-delay: unit(TIME / 1.5, unit(TIME))
