@require "./common"

@require "./typography"
@require "./layout"

@require './tables'
@require './buttons'
@require './upload-drop-target'
@require './image-selector'
@require "./forms"
@require './avatars'
@require "./tabbed-content"
@require "./nav-list"
@require "./dialog"
@require "./tooltip"
@require "./paginator"
@require './project-roles'

@require "./main-header"
@require "./main-footer"
@require "./secondary-page"

@require "./home-page"
@require "./all-projects-page"
@require "./about-page"

@require "./project-page"
@require './dashboard'
@require './classify'
@require "./drawing-tool"
@require "./classification-summary"

@require "./user-profile"

@require "./loading-indicator"
@require "./project-card"

@require './notification-viewer'
@require './markdown-editor'

@require './talk'
@require './talk-project'
@require './inbox'
@require './collections'

@require './workflow-editor'
