.main-footer
  background: #272727
  color: rgba(white, 0.5)
  display: flex
  font-size: 14px
  justify-content: center
  line-height: 20px
  padding: 3em 3vw

  a
    color: inherit
    text-decoration: none

    &:hover
      color: rgba(white, 0.75)

  .main-logo
    margin-bottom: 2.7em

  .main-logo-link
    color: rgba(white, 0.25)
    font-size: 18px

    &:hover
      color: rgba(white, 0.4)

  .main-footer-flex
    display: flex
    flex-wrap: wrap
    justify-content: center
    max-width: 960px
    width: 100%

  .site-map
    display: inline-flex
    flex: 1 0 700px
    justify-content: center

  .site-map-section
    display: inline-flex
    flex-direction: column
    flex-wrap: wrap
    margin: 0 6.25vw 2.7em 0

    &:first-of-type
      margin-left: 6.25vw

    h6
      color: COPY
      font-size: inherit

    a
      white-space: nowrap

  .social-media
    a
      margin: 0.5em
