.main-header
  border-bottom: 1px solid rgba(black, 0.4)
  display: flex
  justify-content: space-between

.main-header-group
  display: flex
  flex-direction: row

  &:not(:first-child)
    border-left: 1px solid rgba(black, 0.2)
    margin-left: 1vw

.main-header-item
  @extends $reset-button
  align-items: center
  background: rgba(MAIN_HIGHLIGHT, 0)
  border-right: 1px solid rgba(black, 0.2)
  cursor: normal
  color: MAIN_HIGHLIGHT
  display: flex
  padding: 0.5rem 1.5vw 0.2em
  text-decoration: none

  :last-child > &:last-child
    border-right: 0

  &.logo
    font-size: 1.3em
    letter-spacing: 0.05em
    text-transform: uppercase

.account-bar-avatar
  border-radius: 50%
  height: 3rem
  margin: -1.5rem 0 -1.5rem 1vw
  width: 3rem
