.main-header

  .on-home-page &
    position: absolute
    width: 100%

    .main-logo
      font-size: 2.7em

  .on-secondary-page &
    position: absolute
    width: 100%

  a
    text-decoration: none

    &.main-logo
      color: white

  .on-project-page &
    opacity: 0.4
    transition: opacity 0.5s

    &:hover
      opacity: 1

  .account-bar
    position: relative

    .account-info
      padding-bottom: 15px

      .avatar
        height: calc(1em + 1.5vw)
        margin: -4em 1.75em -3.7em -0.3em
        vertical-align: middle
        width: calc(1em + 1.5vw)

      .display-name
        color: white
        font-size: 14px
        margin-right: 1em

      a
        color: white

    .account-menu
      background: FOREGROUND
      border-radius: 4px
      opacity: 0
      display: flex
      transition: opacity 0.25s ease-out
      flex-direction: column
      font-size: 14px
      margin: 0 1.65em
      padding: 1.5em
      pointer-events: none
      position: absolute
      right: 23px
      white-space: no-wrap

      &:before
        border: solid
        border-color: FOREGROUND transparent
        border-width: 0 0.6em 0.6em 0.6em
        top: -0.55em
        content: ""
        display: block
        left: 5em
        position: absolute

      a
        color: white

    &:hover
      .account-menu
        opacity: 1
        pointer-events: auto

.main-title
  align-items: baseline
  background: #0072ff
  box-sizing: border-box
  color: BACKGROUND
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding: 10px 3vw

  .on-home-page &
    border-bottom: none
    transition: background 1s ease

    .main-logo
      color: #0072ff

    .main-nav-item:hover
      background: rgba(0,0,0,0.2)

  .on-project-page &, .on-home-page &, .on-secondary-page &
    background: transparent

  &.header-sticky
    background: rgba(0,0,0,0.7)
    position: fixed
    width: 100%
    z-index: 1

    .main-nav-item:hover
      background: rgba(0,0,0,0.8)

.main-logo
  font-family: "Montserrat"
  font-size: 1.8em
  font-smoothing: antialiased
  letter-spacing: 0.05em
  text-transform: uppercase

  svg
    vertical-align: -0.30em

.main-nav
  display: flex
  flex-grow: 1
  flex-wrap: wrap
  padding: 0 1em

  > hr
    border: 0
    flex: 1 1 auto
    margin: 0

.main-nav-item
  color: rgba(255,255,255,0.5)
  font-size: 0.9em
  padding: 0.5em 3vw
  margin: 0.5em 0 0

  &:link:hover
    background: rgba(255,255,255, 0.2)
    color: rgba(255,255,255,1)

  &.active
    font-weight: bold

  .minor
    font-size: 0.7em
    font-weight: bold
    letter-spacing: 0.1em
    text-transform: uppercase

.on-secondary-page
  .secondary-page
    .hero
      background-size: cover
      padding: 9.33em 3vw 4em

      h1
        color: white
        font-size: 2.25em
        font-weight: 400
        margin: 0 auto
        max-width: 960px
