.main-footer
  background: #272727
  color: rgba(255,255,255,0.5)
  font-size: 0.8em
  padding: 6.2em 3vw

  .main-footer-flex
    display: flex

  .main-logo
    font-weight: 700
    margin-right: 1.5em

    .zooniverse-logo
      font-size: 0.875em
      margin: 0 0.05em 0 0
      vertical-align: -0.08em

  .site-map
    flex-grow: 1

    .site-map-section
      display: inline-flex
      flex-direction: column
      margin: 0 4.5em

  .social-media
    a
      margin: 0.5em

  a
    color: inherit
    font-size: 14px
    text-decoration: none

    &:hover
      color: rgba(255,255,255,0.75)