.main-footer
  background: #272727
  color: rgba(255,255,255,0.5)
  font-size: 10px
  line-height: 20px
  padding: 6.2em 3vw

  a
    color: inherit
    text-decoration: none

    &:hover
      color: rgba(255,255,255,0.75)

  .main-footer-flex
    display: flex
    flex-wrap: wrap
    justify-content: center

  .main-logo
    color: white
    font-weight: 700
    margin: 0 0 1.5em 0
    opacity: 0.5
    white-space: nowrap

    .main-logo-link
      color: white
      font-size: 18px
      opacity: 0.5

      &:hover
       opacity: 0.75

    .zooniverse-logo
      font-size: 0.875em
      margin: 0 0.075em 0 0
      vertical-align: -0.08em

  .site-map
    flex-grow: 1

    .site-map-section
      display: inline-flex
      flex-direction: column
      flex-wrap: wrap
      font-size: 1.4em
      margin: 0 6.25vw 2.7em 0

      &:first-of-type
        margin-left: 6.25vw

  .social-media
    a
      margin: 0.5em