@require "./common"

.main-header
  border-bottom: 1px solid rgba(black, 0.4)
  display: flex
  justify-content: space-between

.main-nav
  display: flex
  flex-direction: row

  > *
    border-right: 1px solid rgba(black, 0.2)

  .main-item
    align-items: center
    background: rgba(orangered, 0)
    color: orangered
    display: flex
    padding: 0.6em 1.5vw 0.2em
    text-decoration: none

    &.logo
      font-size: 1.3em
      letter-spacing: 0.05em
      text-transform: uppercase

  a.main-item
    &:active,
    &:focus
      background: rgba(orangered, 1)
      color: white

.account-bar
  @extends .main-nav .main-item
  border-left: 1px solid rgba(black, 0.2)

  .avatar
    border-radius: 50%
    height: 4em
    margin: -2em 0 -2em 0.3em
    width: 4em
