@require './common'
@require '../node_modules/nib'

@require './zoo-font'
@require '../node_modules/drag-reorderable/style.css'
@require '../node_modules/chartist/dist/chartist.min.css'
@require '../node_modules/rc-slider/assets/index.css'

// App and layout
@require './app'
@require './typography'
@require './layout'
@require './site-nav'
@require './site-footer'

// General elements, not react components
@require './tables'
@require './buttons'
@require './forms'
@require './markdown-video'

// Stand alone components
@require './upload-drop-target'
@require './media-area'
@require './image-selector'
@require './avatars'
@require "./modal-form"
@require "./dialog"
@require "./blurred-image"
@require "./circle-ribbon"
@require "./collection-card"
@require './filmstrip'
@require './disciplines-slider'
@require "./loading-indicator"
@require "./project-card"
@require "./project-icon"
@require './markdown-editor'
@require './search'
@require './subject-viewer'
@require './frame-annotator'
@require './app-status'

// Home page
@require "./home-page"
@require "./home-page-for-user"
@require "./recent-messages"

// Generic secondary page
@require './secondary-page'

// Specific secondary pages
@require './tabbed-content'
@require './owned-list-pages'
@require './collections-page'
@require './about-page'
@require './get-involved-page.styl'
@require './team-page'
@require './publications-page'
@require './landing-page'
@require './admin-page'
@require './best-practices-page'

// Project
@require './project-page'
@require './dashboard'
@require './classify'
@require './field-guide'
@require './tutorial'
@require './mini-course-dialog'
@require './workflow-assignment-dialog'
@require './survey-task'
@require './slider-task'
@require "./drawing-tool"
@require "./dropdown-task"
@require "./text-task"
@require "./grid-buttons"
@require './project-stats-page'
@require './default-classification-summary'
@require './world-wide-telescope'
@require './classifier-feedback'
@require './highlighter-task'

// Organization
@require './organization-page'

// Lab
@require './lab'
@require './nav-list'
@require './field-guide-editor'
@require './project-modal-editor'
@require './workflow-editor'
@require './workflow-visualizer'
@require './workflow-export-dialog'

// User profile
@require './user-profile'
@require './profile-feed-comment-link'
@require './settings'
@require './notification-section'

// Talk
@require './favorites-button'
@require './talk'
@require './talk-project'
@require './inbox'
@require './paginator'
@require './moderations'
@require './subject-page'
