.markdown-editor
  display: inline-block

  &.full
    width: 100%

.editor-area
  position: relative
  display: inline-block

.full
  .editor-area
    width: 100%

.markdown-editor-input
  @extends .standard-input
  display: block
  font-family: Courier, monospace
  position: relative
  width: 100%

.markdown-editor-preview
  bottom: 0
  border: 1px solid rgba(gray, 0.2)
  left: 0
  overflow: auto
  padding: 0 1em 0 0.5em
  position: absolute
  right: 0
  top: 0

  > :first-child
    margin-top: 0

  > :last-child
    margin-bottom: 0

.markdown-editor-controls
  float: right

  button
    @extends $reset-button
    padding: 0 0.2em

.markdown-editor
  &:not([data-previewing])
    .markdown-editor-input
      opacity: 1
      z-index: 1

    .markdown-editor-preview
      opacity: 0

  &[data-previewing]
    .markdown-editor-input
      opacity: 0

    .markdown-editor-preview
      opacity: 1
      z-index: 1

.markdown-editor-help
  margin: 2em
  table
    margin: auto
    width: 100%
    border-collapse: collapse
  td
    border: 1px solid black
    padding: 10px
