.modal-form-trigger
  @extends $reset-button

.modal-form-underlay
  background: rgba(gray, 0.2)

.modal-form-pointer
  background: white
  box-shadow: 0 0 5px rgba(black 0.3)
  height: 1em
  transform: translateX(0.3em) rotate(45deg)
  width: 1em
  z-index: -1

.modal-form
  background: white
  border-radius: 3px
  box-shadow: 0 5px 15px -5px rgba(black, 0.5)
  color: black
  font-size: 14px
  margin: 0.5em 3vw
  padding: 0.5em 1em
