hover-button(color)
  background: color
  border-color: darken(color, 5%)
  &:hover
    background: lighten(color, 5%)
    border-color: color

.moderations
  section button
    text-transform: capitalize

    &:not(:last-child)
      margin-right: 5px

    &.active
      opacity: 0.5
      pointer-events: none

  .moderations-actions-buttons
    text-align: right

    > p
      margin: 0

      > strong
        text-transform: capitalize

    .textarea-container
      text-align: right
      textarea
        display: inline

    button
      color: white
      text-transform: capitalize

      &:not(:last-child)
        margin-right: 5px

      &.moderations-ignore
        hover-button: HIGHLIGHT_COLOR

      &.moderations-destroy
        hover-button: ALERT_COLOR

      &.moderations-watch
        hover-button: TEAL_MID

      &.moderations-open
        hover-button: SUCCESS
