.nav-list
  margin: 0
  padding: 0

  > li
    display: block

  &.standalone
    border: 1px solid rgba(gray, 0.8)
    border-radius: 3px

  &.drag-reorderable
    > [draggable]
      border-left: 1ch solid rgba(gray, 0.2)

.nav-list-header
  @extends $generic-heading
  margin: 0.2em 1vw

.nav-list-item
  background: transparent
  border: 0 solid rgba(gray, 0.3)
  border-top-width: 1px
  box-sizing: border-box
  display: block
  padding: 0.2em 1vw
  text-align: left
  text-decoration: none
  width: 100%

  &.active
    background: MAIN_HIGHLIGHT
    border-top-color: transparent
    color: white
    font-weight: bold

  .help-text
    font-size 0.7em
    opacity: 0.6
