.new-accounts-page
  background: BACKGROUND_COLOR
  margin: 0

  h1
    text-align: center

  section
    background: #ffffff
    margin: 0 auto
    padding: 1.5em 0
    max-width: 1440px
  
  .inner
    margin: 0 auto
    padding: 30px
    max-width: 720px

  .already-signed-in
    border: 1px solid TEAL_DARK
    margin-top: 8px
    padding: 12px
  
  .successMessage
    border: 1px solid BURNT_ORANGE
    margin-top: 8px
    padding: 12px