.notification-viewer
  font-size: 0.7em
  bottom: 0
  position: absolute
  right: 0

.notification
  background: rgba(0, 0, 0, 0.8)
  color: white
  display: flex
  margin: 0.3em

  &.log
    background: rgba(gray, 0.7)

  &.warning
    background: rgba(darken(orange, 30%), 0.8)

  &.error
    background: rgba(darken(red, 30%), 0.8)

.notification-icon-container
  border-right: 1px solid rgba(0, 0, 0, 0.3)
  padding: 0.3em 1em

.notification-content
  flex: 1 0 auto
  padding: 0.3em 1em

.notification-dismissal
  border-left: 1px solid rgba(0, 0, 0, 0.3)
  padding: 0.3em 1em
