.notification-section
  @extends .content-container
  background-color: #EDEDED
  border-radius: 4px
  margin: 1.5em 10%
  overflow: hidden
  padding: 1em 5%

  &__container
    align-items: center
    display: flex
    justify-content: center

  &__item
    width: 33%

  &__title
    color: #646464
    text-align: center
    text-decoration: none
    text-transform: capitalize

  &__img
    border-radius: 50%
    max-width: 40px
    max-height: 40px

  button
    background: none !important
    border: none !important
    float: right
    position: absolute

.notifications-title
  padding: 1em 0 0.75em 0
  text-align: center

  &__project
    background: #f7f7f7
    border: 2px solid #f2f1f1
    border-radius: 4px
    margin: 0 10%
    padding: 5px
