.organization-page
  @extends .project-page
  font-family: 'Karla', sans-serif

.organization-hero
  min-height: 200px
  padding-top: 20vh

  &__container
    align-items: center
    display: flex

  &__avatar
    height: 8em
    margin: 0 3em 0 8em
    width: 8em

  &__title
    font-size: 2.5em
    font-weight: bold

  &__description
    font-size: 1em
    font-weight: normal

.organization-projects
  background-color: BACKGROUND_COLOR
  padding: 1em 0 2.5em

.organization-details
  background-color: TEAL_MID
