.all-resources-page
  .projects-hero
    background: url(/assets/all-projects-hero.png) center center no-repeat

  .collections-hero
    background: url(/assets/all-projects-hero.png) center center no-repeat

  a.show-more
    font-weight: normal
    padding-left: 10px
    text-decoration: none

  .resources-container
    background: #ebebeb
    padding: 0 3vw

    .resource-results-counter
      color: rgba(100, 100, 100, 0.5)
      font-weight: 700
      text-align: center

      p
        font-size: 14px
        margin: 0
        padding: 2.33em 0

  .in-project-context

    .collection-results-counter

        p:first-child
          padding-top: 0px !important

     nav.pagination
        color: #404040

  .pagination
    padding: 2.33em 0
    text-align: center

    .pill-button
      margin-right: 10px
      padding: 1em

    .active
      border: 2px solid

