.card-list
  column-count: 5
  column-gap: 1.66em
  column-width: 14.66em
  max-width: 1200px
  margin: 0 auto
  // Added styles below to fix Chrome bug: https://code.google.com/p/chromium/issues/detail?id=297782
  overflow: hidden
  position: relative

.card
  background-position: 50% 0
  background-size: cover
  border-radius: 6px
  vendor("column-break-inside", avoid)
  display: block
  margin: 0 auto 1em
  max-height: 325px
  max-width: 220px
  overflow: hidden

  svg
    height: 150px
  a
    text-decoration: none

  .details
    background: BACKGROUND
    box-sizing: border-box
    color: FOREGROUND
    display: flex
    flex-direction: column
    height: 175px
    padding: 20px
    text-align: left

  .name
    color: #8a8a8a
    font-size: 0.9em
    font-weight: 400

  .type, .owner
    color: #bababa
    flex-grow: 1
    font-size: .8em
    font-style: italic

  .card-button
    background: COBOLT_BLUE
    padding: 0.6em
    width: 180px
    position: static // position: relative inherited from $reset-button was causing inconsistent rendering in chrome

    &:hover
      background: lighten(COBOLT_BLUE, 20%)

.project-card
  max-height: 445px

  svg
    height: 210px

  .details
    height: 200px
    justify-content: space-between

  .description
    color: #8a8a8a
    font-size: 0.8em
    height: 100px
    margin: 1em 0
    overflow: hidden
