.all-resources-page
  .projects-hero
    background: url(./assets/all-projects-hero.png) center center no-repeat

  .collections-hero
    background: url(./assets/all-projects-hero.png) center center no-repeat

  .resources-container
    background: #ebebeb
    padding: 0 3vw

    .discipline-list
      .discipline-section:nth-child(3)
        margin-top: 0px
        border-top: none

      .discipline-section
        padding-top: 10px
        border-top: 1px black solid
        margin-top: 20px

    .resource-results-counter
      color: rgba(100, 100, 100, 0.5)
      font-weight: 700
      position: relative
      text-align: center

      p
        font-size: 14px
        margin: 0
        padding: 2.33em 0

      p.showing-with-link-para
        padding-top: 20px
        padding-bottom: 20px

      a.view-by-discipline-link
        margin: 15px
        display: inline-block

  .pagination
    padding: 2.33em 0
    text-align: center

    .pill-button
      margin-right: 10px
      padding: 1em

    .active
      border: 2px solid
      
  .project-search
    max-width: 250px
    position: absolute
    right: 1.75em
    text-align: left
    top: 1.33em
    width: 100%
    
    @media screen and (max-width: 1024px)
      position: relative
      margin: 0 auto 2.33em


