.profile-feed-comment-link
  background: white
  border: 1px solid rgba(gray, 0.2)
  border-radius: 0.3em
  color: inherit
  display: block
  font-size: 14px
  margin: 0.5em 0
  padding: 0.5em 1em
  text-decoration: none

  > header
    font-size: 12px

  img
    max-width: 100%
