.project-card-list
  display: flex
  flex-wrap: wrap

.project-card
  box-sizing: border-box
  color: #333
  display: inline-flex
  flex: 0 1 33%
  font-size: 0.7rem
  padding: 0 2.5vw 2em 0
  text-decoration: none

  .media
    margin-right: 1vw
    text-align: center

  .avatar
    border-radius: 0.3em
    display: block
    height: 6.7vw
    min-height: 5em
    min-width: 5em
    width: 6.7vw

  .details
    flex: 1

  .owner
    letter-spacing: 0.05em
    text-transform: uppercase

  .title
    font: italic 700 1.5em SERIF
