.stats-project-icon
  border-radius: 0.3em
  display: inline-block
  font-size: 12px
  overflow: hidden
  position: relative
  text-decoration: none

  > img
    display: block
    height: 15em
    width: 15em

  > .label
    bottom: 0
    left: 0
    position: absolute
    text-align: left

    > .owner,
    > .display-name
      background: rgba(black, 0.4)
      display: inline-block
      color: white
      padding: 0.3em 0.5em

  > .badge
    background: rgba(black, 0.4)
    border-radius: 2em
    box-sizing: border-box
    color: white
    font-weight: bold
    height: 1.5em
    padding: 0 0.5em
    position: absolute
    right: 1em
    text-align: center
    top: 0.3em
    min-width: 1.5em
