.project-card-list
  column-width: 20em
  column-gap: 3vw

.project-card
  background-position: 50% 0
  background-size: cover
  border: 1px solid lighten(gray, 50%)
  border-radius: 4px
  vendor("column-break-inside", avoid)
  display: block
  margin-bottom: 1em
  overflow: hidden
  text-decoration: none

  &[data-no-avatar]
    background-stripes: black yellow 10%

  .details
    background: BACKGROUND
    color: FOREGROUND
    padding: 1em 3vw

  .name
    font-size: 1.4em
    font-weight: bold
    text-align: center

  .owner
    opacity: 0.5
    text-align: center
