.projects-hero
  background: url(/assets/all-projects-hero.png) center center no-repeat

.collections-hero
  background: url(/assets/all-projects-hero.png) center center no-repeat

.resources-container
  background: #ebebeb
  padding: 0 3vw
  text-align: center

  .resource-results-counter
    color: rgba(100, 100, 100, 0.5)
    font-weight: 700
    position: relative
    text-align: center
    overflow: visible
    padding: 0
    max-width: 1200px
    margin: 0 auto
    .pagination
      padding: 0.5em 0

  p
    font-size: 14px
    margin: 0
    padding: 2.33em 0

  p.showing-with-link-para
    padding-top: 20px
    padding-bottom: 20px

    @media screen and (max-width: 750px)
      clear: both

  a.view-by-discipline-link
    margin: 15px
    display: inline-block

.pagination
  padding: 2.33em 0
  text-align: center

  @media screen and (max-width: 750px)
    padding: 0 0 1em

  .pill-button
    margin-right: 10px
    padding: 1em

  .active
    border: 2px solid

.card-search
  max-width: 250px
  text-align: left
  width: 100%
  float: right
  margin-right: 35px

  @media screen and (max-width: 750px)
    float: none
    margin: 1em auto 0

.card-sort
  max-width: 250px
  float: left
  text-align: left
  width: 100%
  margin-left: 35px

  @media screen and (max-width: 750px)
    float: none
    margin: 2.33em auto 0
