.project-card-list
  column-count: 5
  column-gap: 1.66em
  column-width: 14.66em
  max-width: 1200px
  margin: 0 auto

.project-card
  background-position: 50% 0
  background-size: cover
  border-radius: 6px
  vendor("column-break-inside", avoid)
  display: block
  margin-bottom: 1em
  max-height: 325px
  max-width: 220px
  overflow: hidden
  text-decoration: none

  &[data-no-avatar]
    background-stripes: black yellow 10%

    .project-card-space-maker
      height: 150px

  .details
    background: BACKGROUND
    box-sizing: border-box
    color: FOREGROUND
    padding: 20px
    text-align: left

  .name
    color: #8a8a8a
    font-size: 0.9em
    font-weight: 400

  .type
    color: #bababa
    font-size: .8em
    font-style: italic

  .owner
    opacity: 0.5
    text-align: center

  .project-card-button
    margin-top: 50px
    padding: .6em
    width: 180px
