
.resources-container .welcome-banner
  background: #fff
  padding: 2em 4em

  h2
    font-size: 1.1em
    text-transform: uppercase

  p
    margin: 1.4em auto 0
    text-align: center
    max-width: 50em

    em
      color: COPY
      font-style: normal
      font-weight: normal
      text-transform: uppercase

.blm-banner
  background: #333333
  color: #fff
  padding: 2em 4em
  text-align: center

  @media (max-width: 768px)
    padding: 2em

  a
    margin: 0 0.25em

  h2
    font-size: 1.5em
    text-transform: uppercase

  span
    display: block
    margin: 1.5em 15vw 0

    @media (max-width: 768px)
      margin: 1.5em 0 0
