OFF_BLACK = #333

.project-page
  background-position: 50% 40%
  background-size: cover
  color: white
  display: flex
  flex: 1 0 auto
  flex-direction: column
  position: relative

  .background-cover
    background: radial-gradient(rgba(black, 0.2), rgba(black, 0.8))
    bottom: 0
    left:0
    pointer-events: none
    position: fixed
    right: 0
    top: 0

  .project-avatar
    border-radius: 50%
    height: 2.2em
    margin: -1.1em 0.2em -1.1em -1em
    vertical-align: middle
    width: 2.2em

  .tabbed-content-tabs
    margin-top: 1em

    > .tabbed-content-tab
      background: linear-gradient(rgba(black, 0) 25%, rgba(black, 0.3))

      &.classify
        margin-right: 1px

      &[data-active]
        background: white
        color: OFF_BLACK

        &::after
          border-color: transparent

        &.home
          background: transparent
          color: inherit

        &.classify
          background: linear-gradient(rgba(black, 0), rgba(black, 0.7))
          color: inherit

.project-page-content
  display: flex
  flex: 1 0 auto
  flex-direction: column
  position: relative

  > .project-text-content
    background: white
    color: OFF_BLACK
    flex: 1 0 auto

.project-home-content
  display: flex
  flex-direction: column
  flex: 1 0 auto
  justify-content: flex-end

.project-introduction
  column-gap: 2.5vw
  column-width: 20em

  > :first-child
    margin-top: 0

.classify-content
  flex: 1 0 auto
  background: rgba(black, 0.7)

.on-project-page
  background: gray

  .main-header-item
    color: white
    z-index: 1
