.project-role
  background: rgba(gray, 0.5)
  border-radius: 2px
  font-size: 0.5em
  font-weight: bold
  letter-spacing: 0.05em
  margin: 0 0.3em
  padding: 0 0.3em
  text-transform: uppercase

  &.owner
    color: MAIN_HIGHLIGHT

  &.translator
    color: goldenrod

  &.zoo-team
    color: green

  &.admin
    color: navy
