.project-about-page
  background: rgba(255,255,255,0.95)
  border-radius: 3px
  color: #000000
  margin: 1.5em 12vw
  padding: 1.5em 6vw
  
  .columns-container
    flex-wrap: wrap

  .markdown
    img
      max-width: 100%

    h1
      color: BURNT_ORANGE

    h2, h3, h4, h5, h6
      color: DARK_BLUE

    a
      color: DARK_BLUE
      
  .team-list  
    padding: 0
     
  .team-list-item
    list-style: none
    margin-bottom: 1em
    
    &__display-name
      whitespace: nowrap
      
    &__project-roles
      display: flex
      flex-wrap: wrap
    
    .project-role
      @extends $project-role
      margin: 0.3em

.on-project-page
  background: FOREGROUND
  color: BACKGROUND

.project-page
  color: white
  display: flex
  flex: 1 0 auto
  flex-direction: column
  position: relative
  z-index: 1

  .minor-button
    color: white
    background: #424242

    &:focus,
    &:hover
      background: lighten(#424242, 20%)

    &.active
      background: MAIN_HIGHLIGHT

.project-background
  // A custom background-image is provided by the project.
  background-color: gray
  background-position: 50% 40%
  background-size: cover
  bottom: 0
  left: 0
  pointer-events: none
  position: absolute
  right: 0
  top: 0
  z-index: -1

  &::after
    background: radial-gradient(rgba(black, 0.2), rgba(black, 0.8))
    content: ""
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

.project-nav
  margin-left: 0
  margin-top: 2.5em
  text-align: left

  .tabbed-content-tab
    position: relative
    line-height: 2.5em

  .avatar
    height: 4em
    margin: -2em 1vw -2em 0
    vertical-align: middle
    width: 4em

.project-announcement-banner
  border: 2px solid
  border-radius: 0.2em
  box-shadow: 0 2px 4px rgba(black, 0.3)
  box-sizing: border-box
  color: white
  margin: 0 3vw
  padding: 0 1.5vw
  text-align: center

  &.informational
    background: MAIN_HIGHLIGHT

  &.successful
    background: SECOND_HIGHLIGHT

  a
    color: inherit

.project-home-page
  display: flex
  flex-direction: column
  flex: 1 0 auto
  font-size: 14px

  .call-to-action-container
    min-height: 500px
    align-items: center
    display flex
    flex: 1 0 auto
    flex-direction: column
    justify-content: center

  .description
    font-size: 2.2em
    font-weight: 700
    line-height: 1.5em
    margin: 50px 0 40px 0
    max-width: 100%
    max-width: 800px
    text-align: center

  .workflow-description
    line-height: 1.5em
    margin: 10px 0 30px 0

  .standard-button
    margin-top: 10px
    font-weight: 700
    line-height: 1.7em

  hr
    margin: 50px 0 0 0

  .introduction
    background: #fff
    margin: 0
    padding: 1.5em 3vw
    width: 100%
    box-sizing: border-box

    .about-project
      text-transform: uppercase
      font-weight: 700
      line-height: 2.5em
      font-size: 15px
      color: FOREGROUND
      text-align: center
      max-width: 800px
      margin: 0 auto 1em

   .markdown
      color: #646464
      line-height: 1.4em
      text-align: center
      max-width: 800px
      margin: 0 auto

.project-disclaimer
  justify-content: center
  text-align: center
  padding: 2em 0
  font-size: .75em
  color: #CDCDCD

.collection-page-with-project-context,
.project-text-content
  background-color: #ebebeb
  padding: 1.5em 3vw
  color: #000000
  border-radius: 3px

  .project-role
    color: #ffffff
    background-color: #555555
    padding: 0.1em 0.4em

    &.owner
      background-color: #0072ff

  a
    color: #0072ff

&.in-project-context
  nav.hero-nav
    text-align: center
  a.about-tabs
    color: PROJECT_SUBMENU_BLUE
    white-space: nowrap
    margin-bottom: 0
    margin-top: 0
  a.about-tabs:first-child
    margin-top: 1em
  a.about-tabs:last-child
    margin-bottom: 3em
  a.about-tabs.active,
  a.about-tabs:hover
    border: 2px solid PROJECT_SUBMENU_BLUE

.project-metadata
  padding: 1.5em 3vw
  margin: 0
  background: rgba(0,0,0,0.8)

  &-header
    text-align: center
    margin-bottom: 1.5em
    :first-child
      font-weight: bold

  &-stats
    align-items: center
    display: flex
    flex-wrap: wrap
    justify-content: space-around

  &-stat
    text-align: center
    :first-child
      font-size: 2em
