.project-modal-editor
  width: 100%

  .project-modal-header
    align-items: center
    display: flex
    justify-content: space-between

.project-modal-step-editor-container
  display: flex
  flex-wrap: wrap
  
  .drag-reorderable [data-being-dragged]
    opacity: 0.5
    outline: 2px dashed lightgray

  .project-modal-step-list
    border: 1px solid rgba(gray,0.3)
    flex: 1 1 auto
    list-style: none
    margin: 1em 0.5em 1em 0
    max-width: 50ch
    padding: 0
    
    > :not(:first-child)
      border-top: 1px solid rgba(gray, 0.2)
      
    .project-modal-step-list-item
      display: flex
      border-left: 1em solid rgba(gray, 0.1) // Drag handle
      
      .project-modal-step-list-item-button
        @extends $reset-button
        align-items: center
        display: flex
        flex-grow: 1
        padding: 0.5em 1em
        text-align: left

        &:hover, &:focus
          background: rgba(MAIN_HIGHLIGHT, 0.2)

        &:active, &.selected
          background: MAIN_HIGHLIGHT
          color: white
          
          .project-modal-step-list-item-button-title
            font-weight: bold
            
      .project-modal-step-list-item-remove-button
        @extends $reset-button
        padding: 0.5em 1em

        &:hover
          background: rgba(red, 0.2)

        &:active
          background: red
          color: white
          

.project-modal-step-editor
  border: 1px solid rgba(gray, 0.5)
  flex: 1 1 auto
  margin: 1em 0 1em 0.5em
  max-width: 50ch
  padding: 0.5em 1em
  position: relative

  > header
    position: absolute
    right: 0
    top: 0
      