.publications-page
  display: flex
  flex-wrap: wrap

  .publications-content
    flex: 2 1 80%

    h2
      text-transform: capitalize

    .publications-list
      padding: 0
      margin-top: 1em

      .project-name
        display: inline-block

      .publication-count
        color: #5a5a5a
        font-size: 1.4em
        font-weight: 700

      .publications
        padding: 0
        margin: 0
        
      .publication-item
        display: inline-flex
        flex-wrap: wrap
        list-style: none
        margin: 1em 0
        width: 100%

        img
          border-radius: 4px
          flex: 1 1 50px
          margin-right: 1em
          max-width: 50px
          max-height: 50px

        .citation
          flex-basis: 75%

          p
            font-size: 1em
            margin: 0