@import "../node_modules/react-select/dist/react-select.css"

// Override default styles from react-select
.search
  padding-left: 0
  padding-right: 0
  background: #fff

  .Select-control
    border: none !important
    box-shadow: none !important
    background: none !important
    
  .Select-placeholder
    border: none !important
    box-shadow: none !important
    background: none !important

  .Select-menu
    max-height: 174px
