.secondary-page
  font-size: 14px
  line-height: 20px

  .secondary-page-side-bar
    flex: 0 1 190px

    nav
      align-items: flex-start
      display: inline-flex
      flex-direction: column
      flex-wrap: wrap

      @media screen and (max-width: 400px)
        flex-direction: row

      .side-bar-button
        color: #5a5a5a
        font-size: 14px
        margin: 6.75px 6.75px 20.25px
        outline: none

        &.active
          font-weight: 700

  .publications-page
    line-height: initial

  .markdown, .secondary-page-copy
    h1, h2, h3
      color: #5a5a5a

    h2
      font-size: 2em
      line-height: 26px

    h3
      font-size: 1.4em

    p, li
      color: #989898
      margin: 1em 0
      max-width: 700px
      font-size: 14px

      ul > li
        font-size: 14px

      img
        max-width: 100%

    pre
      background-color: #E8E8E8
      border-radius: 4px
      overflow: auto
      padding: 1em

.centered-grid
  margin: 0 auto
  max-width: 960px
  padding: 40px 3vw
