// From main-header.styl:
.main-nav-item
  color: rgba(255,255,255,0.5)
  padding: 7.5px 2vw
  margin: 2.5px 0 0

  &:link:hover
    background: rgba(255,255,255, 0.2)
    color: rgba(255,255,255,1)

  &.active
    color: white
    border-bottom: solid 2px white
    font-weight: bold

  .minor
    font-size: 10px
    font-weight: bold
    letter-spacing: 0.1em
    text-transform: uppercase

// Also from main-header.styl:
.on-secondary-page
  .secondary-page
    .hero
      background-size: cover
      box-sizing: border-box
      min-height: 250px
      overflow: auto
      background-color: COBOLT_BLUE
      padding: 140px 3vw 5px 3vw

      .hero-container
        margin: 0 auto
        max-width: 960px

        h1
          color: white
          font-size: 2.5em
          font-weight: 400
          margin-bottom: 1em

          img.avatar
            padding-right: 10px !important

          span.login-name
            padding-left: 7px !important

            span
              font-size: 0.65em !important
              font-weight: 200 !important

        .hero-nav
          a
            @extends .main-nav-item
            font-size: 14px
            line-height: 3em
            text-decoration: none


.secondary-page
  font-size: 14px
  line-height: 20px

  .secondary-page-side-bar
    flex: 0 1 190px

    nav
      align-items: flex-start
      display: inline-flex
      flex-direction: column
      flex-wrap: wrap

      @media screen and (max-width: 400px)
        flex-direction: row

      .side-bar-button
        color: #5a5a5a
        font-size: 14px
        margin: 6.75px 6.75px 20.25px
        outline: none

        &.active
          font-weight: 700

  .publications-page
    line-height: initial

  .markdown, .secondary-page-copy
    h1, h2, h3
      color: #5a5a5a

    h2
      font-size: 2em
      line-height: 26px

    h3
      font-size: 1.4em

    p, li
      color: #989898
      margin: 1em 0
      max-width: 700px
      font-size: 14px

      ul > li
        font-size: 14px

      img
        max-width: 100%

    pre
      background-color: #E8E8E8
      border-radius: 4px
      overflow: auto
      padding: 1em

&.has-project-context
  background-color: transparent !important

  .hero
    background-image: none !important
    background-color: transparent !important
    padding-top: 2vw !important
    min-height: initial !important

    .hero-container
      margin: 0 !important
      max-width: initial !important

      h1
        text-align: center
    .overlay
      background-image: none !important
      background-color: transparent !important

  .content-container
    margin: 1em auto

  nav.hero-nav
    a
      span
        text-transform:none !important

.centered-grid
  margin: 0 auto
  max-width: 960px
  padding: 40px 3vw
