.settings-page, .admin-page
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center
  margin: 3em auto
  max-width: 960px

  h2
    flex: 1 1 100%
    font-size: 2.4em
    font-weight: 400

  .settings-side-bar, .admin-side-bar
    border-right: solid thin rgba(0, 0, 0, 0.15)

    .settings-button, .admin-button
      color: #5a5a5a
      margin: 0 0 2.025em
      outline: none

      &.active
        font-weight: 700

  .settings-content, .admin-content
    display: inline-flex
    flex-wrap: wrap
    margin-top: 5em

    .settings-tab-content, .admin-tab-content
      flex: 2 1 80%
      font-size: 15px
      line-height: 1.5

      .project-status-filters
        padding-left: 2em

        a
          text-decoration: none
          margin-right: 0.5em

      .project-status-list
        padding: 2em
        display: flex
        flex-wrap: wrap

        .stats-project-icon
          margin-right: .5em

      .project-status
        padding-left: 2em

        ul
          list-style-type: none
          padding: 0

      .talk-email-preferences
        th
          padding: 0 5px

        .option
          text-align: center

      .customize-profile-tab
        flex-direction: column

        p
          color: rgba(100, 100, 100, 0.5)
          font-size: 0.8em
          margin: 1em 0

        .profile-avatar-selector
          .image-selector
            height: 150px
            max-width: 150px

        .profile-header-selector
          .image-selector
            height: 150px
            max-width: 540px
            width: 100%

    