.site-nav
  align-items: baseline
  background: black
  display: flex
  font-size: 0.75em
  padding: 0.5em 1em

  &__main-links
    display: flex
    flex-wrap: wrap
    justify-content: flex-start

    &--vertical
      flex-direction: column

  &__link
    border-bottom: 2px solid transparent
    color: LIGHT_GREY
    display: inline-block
    font-size: 1em
    letter-spacing: 0.1em
    opacity: 0.7
    padding: 0.5em 0.9vw 0.3em 0.9vw
    text-decoration: inherit
    text-transform: uppercase
    white-space: nowrap;

    &:hover
      border-bottom-color: TEAL_MID
      position: relative
      z-index: 1 // This improves hit area on hover when used with a `link-buncher`.

    &--active
      color: TEAL_MID
      opacity: 1

  &__icon
    padding: 0.5em 0.5em 0.3em 0.5em

    &--inbox
      margin: 0 1em

  &__inbox-link
    position: relative

    &--unread
      color: TEAL_LIGHT

  &__link-buncher
    display: inline-block
    margin: 0 -0.5em

  &__user-avatar
    margin: -0.3em 0

  &__modal
    text-align: right

    &.modal-form-trigger
      margin-right: 1em

    &.modal-form-underlay
      background: transparent
      z-index: 1 // TODO: Apply this everywhere.

    div .site-nav__link, span .site-nav__link
      color: white
      font-size: 0.75em
      font-weight: 600
      letter-spacing: 0.1em
      padding: 0.75em 1.5em 0.3em
      text-transform: uppercase

      &:hover
        background: rgba(white, 0.2)

    &.modal-form
      background-color: TEAL_MID
      border-radius: 0
      margin-top: 0.5em

    &.modal-form-pointer
      background: transparent

  .account-bar
  .login-bar
    margin-left: auto
    z-index: 2

  .site-nav__reveal-toggle
    position: relative
    z-index: 2

    // TODO, maybe:
    // &::after
    //   border: 0.4em solid
    //   border-bottom-width: 0
    //   border-color: currentColor transparent
    //   content: ''
    //   height: 0
    //   left: 50%
    //   position: absolute
    //   top: 100%
    //   transform: translateX(-50%)
    //   width: 0
