@require "./common"

body > header
  background: rgba(white, 0.9)
  border-bottom: 1px solid rgba(black, 0.5)
  color: orangered
  display: flex
  justify-content: space-between

  a
    color: inherit
    text-decoration: none

  button
    @extends #_RESET_BUTTON

  & > :not(hr)
    align-items: center
    background: rgba(orangered, 0)
    border-right: 1px solid rgba(black, 0.2)
    display: flex
    flex: 0 0 auto
    padding: 1.2vh 1.5vw 0.4vh

    &:last-child
      border-right: 0

    &:active,
    &:focus,
    &[data-active]
      background: rgba(orangered, 1)
      color: white

    &.logo
      font-size: 1.3em
      letter-spacing: 0.05em
      text-transform: uppercase

  .name,
  .group
    margin: 0 0.2em

  .avatar
    border-radius: 50%
    margin: -35% 0 -35% 0.3em

  & > a
    align-items: center
    display: flex

  & > hr
    flex: 1 0 1em
    visibility: hidden

    & + :not(hr)
      border-left: 1px solid rgba(black, 0.2)
