.site-nav
  align-items: baseline
  background: black
  display: flex
  font-size: 0.75em
  padding: 0.5em 1em
  position: relative

  &__main-links
    display: flex
    flex-wrap: wrap
    justify-content: flex-start

    &--vertical
      flex-direction: column

  &__link
    border-bottom: 2px solid transparent
    color: #b2b2b2
    display: inline-block
    font-size: 1em
    font-weight: 700
    letter-spacing: 0.15em
    margin: 0.5em 1em 0 1em
    padding-bottom: 0.3em
    opacity: 1
    text-decoration: inherit
    text-transform: uppercase
    white-space: nowrap

    &:hover
      border-bottom-color: TEAL_MID
      position: relative
      z-index: 1 // This improves hit area on hover when used with a `link-buncher`.

    &--active
      color: TEAL_MID
      opacity: 1

  &__inbox-link
    position: relative

    &--unread
      color: TEAL_LIGHT
      font-weight: bold

  &__link-buncher
    display: inline-block
    margin: 0 -0.5em

  &__user-avatar
    margin: -0.3em 0

  &__modal
    text-align: right

    &.modal-form-underlay
      background: transparent
      z-index: 1 // TODO: Apply this everywhere.

    div .site-nav__link, span .site-nav__link
      border-bottom: none
      box-sizing: border-box
      color: white
      font-size: 0.75em
      font-weight: 600
      letter-spacing: 0.1em
      margin: 0
      padding: 1em 2.5em
      text-transform: uppercase
      width: 100%

      &:focus
        background: rgba(white, 0.4)
        outline: none

      &:hover
        background: rgba(white, 0.2)

    .secret-button
      box-sizing: border-box
      text-align: right
      width: 100%

      &:focus
        background: rgba(white, 0.3)
        outline: none

    &.modal-form
      background-color: TEAL_MID
      border-radius: 0

    &.modal-form-pointer
      background: transparent

  .account-bar
  .login-bar
    margin-left: auto
    z-index: 2
