.slider-task-range
  width: 70%
  display: inline-block
  margin-right: 1em
  div
    width: 100%
  input
    width: 100%
    margin-right: 1em
    display: block
  &__label-container
    width: 300px
    display: flex
    padding-left: 4px
    justify-content: space-between
    &__left
      width: 20%
      font-size: 0.8em
    &__right
      text-align: right
      width: 20%
      font-size: 0.8em

.slider-task-number
  flex: 1
  input
    padding: 1em
    width: 5em

.slider-task-container
  display: flex
  align-items: center
