.spotters-guide-pullout
  background: rgba(black, 0.8)
  color: white
  font-size: 12px
  padding: 1em 2em
  max-width: 40vw

.spotters-guide-pullout-toggle
  position: absolute
  right: 100%
  top: 33%
  transform: rotate(-90deg) translateX(50%)
  transform-origin: right bottom
  white-space: nowrap
