.spotters-guide-pullout
  background: rgba(black, 0.8)
  color: white
  font-size: 12px
  padding: 1em 2em
  max-width: 40vw
  transition: transform 150ms ease

.spotters-guide-pullout-toggle
  @extends $reset-button
  background: inherit
  border-radius: 0.5em 0.5em 0 0
  color: inherit
  letter-spacing: 0.1ch
  padding: 0 1em
  position: absolute
  right: 100%
  text-transform: uppercase
  top: 33%
  transform: rotate(-90deg) translateX(50%)
  transform-origin: right bottom
  white-space: nowrap
