.subject-viewer
  min-width: 0
  max-width: 100%
  
  .subject-frame-pips  
    .subject-frame-pip
      &.active
        font-weight: 700
  
  video
    width: 100%
  
  .subject-video-controls
    display: inline-block
    width: 30vw
  
  .video-scrubber
    width: 80%
    
  .video-speed
    white-space: nowrap
    display: inline-block
    padding: .3em 0
    line-height: .8
    vertical-align: middle

    label
      overflow: hidden
      padding: 0 .3em

      input[type=radio]
        position: absolute
        left: -50px
        height: 0
        width: 0
  
        &:checked + span
          color: MAIN_HIGHLIGHT

.subject
  .subject-tools
    button:not(:last-child)
      margin-right: 0.5em
