.subject-page
  margin: 0 auto
  max-width: 800px
  .subject-container
    width: 100%
    img
      max-width: 100%

  .talk-comment-link
    a
      text-decoration: none

    &:hover
      .talk-module
        background-color: darken(TALK_BACKGROUND, 10%)
        border-color: darken(TALK_BACKGROUND, 20%)
