.talk .subject-page
  margin: 0 auto
  .subject-container
    width: 100%
    img
      max-width: 100%

  .talk-discussion-preview
    .subject-preview
      display: none

  .talk-comment-box
    .talk-comment-focus-image

    .talk-comment-form .talk-comment-image-select-button
      display: none

  .talk-comment-link
    a
      text-decoration: none

    &:hover
      .talk-module
        background-color: darken(TALK_BACKGROUND, 10%)
        border-color: darken(TALK_BACKGROUND, 20%)
