.subject
  .subject-container
    max-width: 100%
    img
      max-width: 100%
  .subject-tools
    button:not(:last-child)
      margin-right: 0.5em
  .talk-comment-link
    a
      text-decoration: none
    &:hover
      .talk-module
        background-color: darken(TALK_BACKGROUND, 10%)
        border-color: darken(TALK_BACKGROUND, 20%)
