.survey-chooser
  font-size: 12px

  .characteristics
    background: rgba(gray, 0.4)
    border-radius: 5px 5px 0 0
    padding: 3px

  .choices
    background: rgba(gray, 0.2)
    padding: 3px

.characteristic-value-button,
.characteristic-clear-button
  @extends $reset-button

.characteristic-button
  background: white
  border-radius: 3px
  color: black

.characteristic-value-icon
  display: block
