.tabbed-content
  display: flex

  &[data-side="top"]
    flex-direction: column

  &[data-side="bottom"]
    flex-direction: column-reverse

  &[data-side="left"]
    flex-direction: row

  &[data-side="right"]
    flex-direction: row-reverse

.tabbed-content-tabs
  border: 0 solid rgba(black, 0.3)
  display: flex
  flex-shrink: 0
  overflow: auto

  .tabbed-content[data-side="top"] &
    border-bottom-width: 1px

  .tabbed-content[data-side="bottom"] &
    border-top-width: 1px

  .tabbed-content[data-side="left"] &
    border-right-width: 1px

  .tabbed-content[data-side="right"] &
    border-left-width: 1px

  .tabbed-content[data-side="top"] &,
  .tabbed-content[data-side="bottom"] &
    flex-direction: row

  .tabbed-content[data-side="left"] &,
  .tabbed-content[data-side="right"] &
    flex-direction: column
    padding: 1.5em 0

.tabbed-content-tab
  color: inherit
  cursor: pointer
  flex-shrink: 0
  padding: 0.4em 1em
  text-decoration: none

  &.selected
    background: orangered
    color: white
