table
  border-collapse: collapse

tr:not(:first-child)
  border-top: 1px solid rgba(gray, 0.1)

th
  font-size: 0.8em
  padding-right: 1em
  text-align: left
  vertical-align: baseline

td
  padding: 0.7em 1em 0.7em 0
  vertical-align: baseline
