.talk
  direction: ltr

.talk-module // shared styles among talk box shaped things
  background: TALK_BACKGROUND
  border-radius: TALK_BORDER_RADIUS
  border: 2px solid TALK_BORDER
  padding: TALK_PADDING
  margin: TALK_MARGIN
  box-sizing: border-box
  color: COPY

  img
    max-width: 100%

.talk-text-input // shared styles among talk text inputs
  border: none

.talk-left-buttons
  margin: 2px 2px 2px 0

.talk-page-header
  font-weight: 100

.talk-form
  input[type='text'], input[type='search'], textarea
    border: none
    font-size: 1.0em
    font-family: inherit
    display: block

.talk-search-form
  position: relative
  max-width: 250px
  overflow: auto
  margin-bottom: 10px

  input[type='text'], input[type='search']
    float: left
    width: 80%
    border: 2px solid TALK_BACKGROUND
    border-right: none
    font-style: italic
    height: 100%
    line-height: 28px
    padding-left: 5px
    border-radius: TALK_BORDER_RADIUS 0 0 TALK_BORDER_RADIUS

  button[type='submit']
    position: absolute
    background: TALK_BACKGROUND
    width: 20%
    color: COPY
    height: 100%
    border-left: none
    border-color: TALK_BACKGROUND
    border-radius: 0 TALK_BORDER_RADIUS TALK_BORDER_RADIUS 0
    &:hover
      background: MAIN_HIGHLIGHT

.polaroid-image
  background: #fff
  padding: 10px 10px 20px 10px
  margin: 10px

.talk
  @extend .talk-form
  color: COPY_GREY_DARK

  *
    box-sizing: border-box

  a
    color: TEAL_MID

  .heading-link
    color: COPY
    text-decoration: none
    &:hover
      color: MAIN_HIGHLIGHT

  .button
  button:not(.link-style)
    @extend .standard-button
    @extend .talk-module
    padding: 0.2em 0.4em
    font-size: 0.8em
    margin: 0

    &:hover
      color: white
      border-color: MAIN_HIGHLIGHT

  select
    border: 2px solid LIGHT_GREY
    background: #fff
    border-radius: TALK_BORDER_RADIUS
    font-size: 0.8em
    padding: 0.2em

  .talk-main-link a
    @extend .talk .heading-link

  button.link-style
    @extend $reset-button
    text-decoration: underline
    color: TEAL_MID
    &::-moz-focus-inner
      border: 0
      padding: 0

  .truncated
    overflow: hidden
    text-overflow: ellipsis

  .polaroid-image
    max-width: 640px

  .talk-list-content
    display: flex
    section
      min-width: 1px
      width: 100%
    @media screen and (max-width: TALK_BREAKPOINT)
      display: block
    .subject-tools
      display: flex
      justify-content: space-between

  .tagged-results
    display: flex
    flex-wrap: wrap

  .tagged-subject
    flex: 0 0 320px

  .talk-comment-context-icon
    float: right
    padding: TALK_PADDING

  .talk-sidebar
    @extend .talk-module
    flex-shrink: 0
    min-width: 1px
    max-width: 300px
    width: 300px
    margin: 10px 0 10px 10px
    white-space: pre-wrap

    @media screen and (max-width: TALK_BREAKPOINT)
      margin: 0
      width: 100%
      max-width: 100%

    section
      margin: 5px 0

    .sidebar-link
      display: block
      text-decoration: none
      &:hover
        text-decoration: underline

    .talk-active-users
      position: relative

      ul
        list-style: none
        margin: 0
        padding: 0
        width: 100%

        li
          display: inline-block
          max-width: 45%
          margin: 0 5px
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis

  .talk-moderation
    margin-bottom: 10px

    > button
      color: COPY_GREY_LIGHT
      background: transparent

      &:hover
        color: white
        background: lighten(orangered, 10%)
        border-color: orangered

    .talk-moderation-children
      p
        margin: 0

      input[type='text']
        width: 50%
        display: block

      textarea
        width: 100%

      button
        margin: 5px 0 10px 0

      &.closed
        overflow: hidden
        max-height: 0
      &.open
        @extend .talk-module
        margin-bottom: 10px
        border-left: 4px solid orangered

      .talk-sticky-list
        ul
          list-style: none
          margin: 0
          padding: 0

          li
            display: block
            padding: 5px
            cursor: move
            cursor: -webkit-grab
            cursor: -moz-grab
            cursor: grab

            &:before
              margin: 0 5px 0 0

            &.talk-sticky-placeholder
              background: MAIN_HIGHLIGHT
              color: white

      .talk-reorder-boards
        padding: 30px 0 30px 40px
        margin: 0

        li, .bars
          cursor: default

        li
          list-style: none outside none

          .bars
            margin-right: 5px

  .talk-board
    .talk-page-header
      text-align: left

    .talk-board-follow
      margin: 10px auto

      .description
        display: inline-block
        margin: auto 10px
        color: #989898

  .talk-board-new-discussion
    @extend .talk-module
    padding: 0px
    input, h2
      margin: TALK_PADDING
    input[type='text']
      border: none
      width: 50%

  .talk-board-discussions
    width: 80%
    float: left

  .talk-board-preview
    @extend .talk-module
    overflow: auto
    position: relative
    color: COPY_GREY_MID
    &:hover
      background: darken(TALK_BACKGROUND, 2%)

    &.private
      background: white
      &:hover
        background: darken(white, 2%)

    h1 a
      color: COPY
      text-decoration: none
      &:hover
        color: MAIN_HIGHLIGHT
        text-decoration: underline
    p
      margin: 0 0 5px 0

    .board-locked
      font-size: 12px
      color: ALERT_COLOR
      position: absolute
      top: TALK_PADDING
      right: TALK_PADDING

  .preview-content
    width: 80%
    float: left

    .subject-preview
      display: inline-block
      float: left
      margin-right: 5px

  .preview-stats
    width: 20%
    float: left
    margin-top: 5px
    p i
      width: 1em
      text-align: center

  .hidden-markdown
    display: none

  .talk-discussion-link
    color: COPY_GREY_LIGHT

    word-wrap: break-word
    overflow: hidden
    text-overflow: ellipsis

    .latest-comment-preview-link
      text-decoration: none
      color: COPY_GREY_LIGHT
      font-style: normal

      &:hover
        text-decoration: underline

    .avatar
      height: 2em
      vertical-align: -0.5em

    a
      text-decoration: none

    span a
      color: black
      &:hover
        color: TEAL_MID

    .latest-comment-time
      color: COPY
      font-style: italic
      text-decoration: underline

      &:hover
        color: TEAL_MID

  .talk-latest-comment-link
    .talk-display-roles
      display: inline

      p
        display: inline
        margin-right: 5px

      .project-role
        @extends $project-role

  .talk-discussion-preview
    @extend .talk-module
    position: relative
    background: transparent
    border-radius: 0
    border: none
    border-top: 1px solid LIGHT_GREY
    overflow: auto

    .talk-discussion-link
      font-size: 0.9em

      .avatar
        height: 1.5em
        vertical-align: -25%

    .talk-sticky-pin
      color: #FF4642
      margin: 0 10px 0 0
      font-weight: 600

    &:last-child
      border-bottom: 1px solid LIGHT_GREY

    h1
      font-weight: 100
      font-size: 1.25em
      a
        text-decoration: none
        &:hover
          text-decoration: underline
    p
      margin: 0

    .talk-discussion-preview-author
      font-size: 0.7em
      margin-top: 0.3em

  .talk-discussion
    .talk-comment-box
      width: 80%

    > p
      text-align: center

    &-locked
      color: ALERT_COLOR

    h1
      input
        margin: 0 auto
        text-align: center
        width: 100%
        border: 1px solid FOREGROUND
        border-radius: TALK_BORDER_RADIUS
      i
        font-size: 12px

    .talk-discussion-follow
      margin: 10px auto

      .description
        display: inline-block
        margin: auto 10px
        color: #989898

  .talk-comment
    overflow: auto

    &.active
      .talk-comment-body
        border-color: MAIN_HIGHLIGHT

    &.deleted

      .markdown
        opacity 0.5

      .talk-comment-author img
        height: 25px

      .talk-comment-links, .talk-comment-children
        display: none

    .markdown
      > blockquote
        opacity: 0.5

      > pre
        white-space: pre-line

      img
        max-width: 100%

    .subject-container
      max-width: 100%
      img
        max-width: 100%
    .subject-tools
      span >
        button
        .button
          margin-right: 2px

  .talk-comment-author
    @extend .talk-module
    text-align: center
    background: transparent
    border: none
    color: grey
    float: left
    width: 20%

    p
      word-wrap: break-word
      width: 60%
      margin: 0 auto 2px auto
      line-height: 1em

    .avatar
      border-radius: 50%
      height: 50px

    .user-mention-name
      color: COPY_GREY_LIGHT
      font-size: 0.8em

    .project-role
      @extends $project-role
      margin: 0 auto

  .talk-comment-reply
    padding: TALK_PADDING
    background: TALK_BORDER
    border-radius: TALK_BORDER_RADIUS TALK_BORDER_RADIUS 0 0
    margin: (-1 * TALK_PADDING) (-1 * TALK_PADDING) 0 (-1 * TALK_PADDING)
    > button
      border-color: darken(TALK_BORDER, 5%)

    .clear-replies
      float: right

    .comment-reply-line
      .markdown
        transition: background 0.25s

      &.highlighted
        .markdown
          background: rgba(0,0,0, 0.09)

  .talk-comment-body
    @extend .talk-module
    width: 80%
    float: left
    position: relative
    overflow: auto

    .talk-comment-date
      margin: 0
      font-size: 0.6em

    .talk-comment-report-form
      button
        display: block

    .talk-comment-links
      button:not(:last-child)
        @extend .talk-left-buttons

      &.locked
        display: none

      .talk-comment-like-button i.upvoted
        color: MAIN_HIGHLIGHT

  &.inbox-conversation
    .delete-conversation
      margin: 10px 0

  .inbox-form
    input[type='text']
      width: 50%
    textarea
      width: 100%
      margin: 5px 0
    button[type='submit']
      background: SUCCESS
      border: SUCCESS
      color: white
      &:hover
        background: darken(SUCCESS, 10%)
        border: darken(SUCCESS, 10%)

  .talk-recents
    .talk-discussion-comments
      max-width: 960px
      margin: 0 auto

      .talk-comment-links
        display: none

    .talk-subject-default-toggle
      display: block
      margin-bottom: 10px

      label, input
        font-size: 0.5em
        cursor: pointer

  .talk-comment-feedback
    color: green
    text-decoration: italic

  .talk-comment-container
    position: relative

  .talk-comment-box
    @extend .talk-module
    width: 100%
    overflow: auto

    .talk-comment-focus-image
      float: left
      max-width: 150px

    .talk-comment-form
      float: left
      width: 100%

      textarea
        @extend .talk-text-input
        width: 100%
        height: 150px

      section
        text-align: right
        margin-top: 5px

      section button
        display: inline
        &.active
          opacity: 0.5
        &:not(:last-child)
          @extend .talk-left-buttons
          margin-right: 5px

        &[type='submit']
          color: white
          background-color: SUCCESS
          border-color: darken(SUCCESS, 10%)
          &:hover
            background-color: lighten(SUCCESS, 10%)
            border-color: SUCCESS

    .talk-comment-buttons-container
      display: block
      float: left
      width: 100%

      button:not(:last-child)
        @extend .talk-left-buttons

    .talk-comment-children
      float: left
      width: 100%

    .talk-comment-image-selector
      .talk-comment-suggested-images
        overflow-x: scroll
        overflow-y: hidden
        white-space: nowrap

      .talk-comment-image-item
        @extend .polaroid-image
        position: relative
        display: inline-block

        img
          max-width: 300px
          display: inline-block
          vertical-align: top

        .image-card-select
          position: absolute
          text-align: center
          top: 0
          left: 0
          right: 0
          bottom: 0

          button
            position: absolute
            transform: translate(-50%, -50%)
            transition: opacity .25s
            top: 50%
            opacity: 0.8
            &:hover
              opacity: 1
      form
        input[type='search']
          border-color: white
        button[type='submit']
          border-color: transparent
          background: lighten(MAIN_HIGHLIGHT, 5%)
          color: white

  .submit-error
    color: ALERT_COLOR

  .talk-edit-discussion-form
    .toggle
      display: block
      font-weight: bold
      margin: 10px 0

  .talk-search-result
    background: rgba(TALK_BACKGROUND, 0.5)
    margin: TALK_MARGIN
    padding: TALK_PADDING

    img, video
      margin: 0 0.5em
      float: left

    .subject-container, .subject-viewer
      max-width: 640px

      img
        max-width: 100%

    .tag-list
      padding: 0 TALK_PADDING

      li
        list-style: none outside none
        display: inline-block
        margin: 0 TALK_PADDING

  .private-message-form input
    margin-left: 5px
    width: 50%
    border: none
    font-size: 1em

  .talk-footnote
    margin: 50px auto
    text-align: center
    max-width: 600px

.talk.notifications
  .centering
    text-align: center

  .inline-block
    display: inline-block

  .talk-module
    background-color: NOTIFICATION_BACKGROUND
    border: none
    opacity: 0.97

  .title
    color: COPY
    text-transform: capitalize

  .notification.unread .talk-module
    border: 4px solid TEAL_MID

  .notification .talk-module
    transition: border-color 1s ease

  .paginator
    opacity: 0.97

    &.older .paginator-prev
      display: none

    &.newer
      .paginator-prev
        margin-right: 10px

      .paginator-next
        display: none

  .title
    margin-top: 0

  .bottom
    border-top: 1px solid LIGHT_GREY
    padding: 5px

    .time-ago
      @extend .talk .talk-discussion-link .latest-comment-time
      font-size: 0.9em

  .talk-started-discussion
    .talk-search-result
      margin: 0
      padding: 0
      border: none

      .talk-comment-link
        display: none

  .talk-discussion-preview
    border-bottom: none
    margin: auto

    h1, .preview-stats, .latest-comment-preview-link
      display: none

  .message-link
    display: block
    text-decoration: none

    &:hover
      text-decoration: underline

.talk .suggester
  .suggestions
    @extend .talk-module
    position: absolute
    display: none
    z-index: 2
    background-color: #FFFFFF
    border: 1px solid TALK_BORDER
    border-radius: TALK_BORDER_RADIUS
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
    margin-top: 1.5em
    padding: 0

    .title
      margin: 0
      padding: 5px 10px
      font-size: 1em
      line-height: 1em
      text-align: center
      background-color: TALK_BACKGROUND
      border-bottom: 1px solid TALK_BORDER

      .loading
        margin-left: 10px
        transition: opacity 300ms ease
        opacity: 0

        &.shown
          opacity: 1

    ul
      list-style: none outside none
      margin: 0
      padding: 0

      li
        padding: 5px 10px
        border-bottom: 1px solid TALK_BORDER
        cursor: pointer

        small
          font-weight: normal
          color: COPY_GREY_MID

        &.user
          font-weight: bold

        &:hover
          background-color: SECOND_HIGHLIGHT
          color: #FFFFFF

          small
            color: #FFFFFF
