.task-viewer
  padding: 1vw 1em
  font-size: 0.8em

.workflow-task-answer
  cursor: pointer
  display: block

  .drawing-tool-icon
    height: 1.5em
    vertical-align: middle
    width: 1.5em

    > .shape
      fill: currentColor
      fill-opacity: 0.2
      stroke: currentColor
      stroke-width: 5
