.team-page
  display: flex
  flex-flow: row wrap

  .team-member-list
    flex: 2 1 80%

    h2
      text-transform: capitalize

    .team-member
      display: flex
      margin: 1.5em 0

      img
        border-radius: 4px
        height: 80px
        width: 80px

      .team-member-details
        flex-basis: 75%
        margin: 0 1.5em

        p
          margin: 0