.team-page
  display: flex
  flex-flow: row wrap

  .secondary-page-side-bar
    flex-basis: 180px
    padding 0px 10px 0px 0px


    nav
     .side-bar-button
       width: 100%
       text-align: left

     .secret-button.nav-alumni::before
       height: 22px
       border-top: 1px dotted FOREGROUND
       content: ""
       display: block

  .team-member-list
    flex: 2 1 75%
    margin-left: 20px

    h2
      text-transform: capitalize

    .team-member
      display: flex
      margin: 3em 0

      img
        border-radius: 4px
        height: 80px
        width: 80px

      .team-member-details
        flex-basis: 75%
        margin: 0 1.5em

        p
          margin: 2px 0px 0px
