.transcription-metadata-tags
  align-content: space-around
  align-items: center
  display: flex
  flex-direction: row
  justify-content: center
  
  .text-tag
    background-color: #989898
    margin: .1em
    &:hover
      background-color: #CCC
