html
  background: BACKGROUND
  color: FOREGROUND
  font: 400 16px/1.5 SANS_SERIF

hr
  border: 0 solid rgba(black, 0.2)
  border-top-width: 1px
  margin: 1em 0

a
  color: MAIN_HIGHLIGHT

@require "./headings"
@require "./tables"
@require "./forms"

@require "./pill"
