html
  background: BACKGROUND
  color: FOREGROUND
  font: 400 16px/24px SANS_SERIF

hr
  border: 0 solid rgba(black, 0.2)
  border-top-width: 1px
  margin: 3vh 0

a
  color: orangered

@require "./headings"
@require "./tables"
@require "./forms"

@require "./pill"
