html
  background: white
  color: FOREGROUND
  font: 400 15px/1.5 "Open Sans", "Gill Sans", Arial, sans-serif

hr
  border: 0 solid rgba(gray, 0.5)
  border-top-width: 1px
  margin: 1em 0

a
  color: MAIN_HIGHLIGHT

.emoji
  max-height: 1em

h1,
h2,
h3,
h4
  font-smoothing: antialiased
  font-weight: bold
  margin: 0

img
  &:not([src]),
  &[src=""]
    background-stripes: black yellow 20%

input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
textarea
  @extends $text-input

  &:disabled
    opacity: 0.5

.form-help
  color: gray
  font-size: 0.8em

  &.error
    color: red

  &.warning
    color: orange

  &.success
    color: green
