@require "./user-profile-header"

.user-profile
  background-color: #fbfbfb

  .user-profile-hero
    .overlay
      background-color: #0072ff
      height: inherit
      left: 0
      opacity: 0.7
      position: absolute
      top: 0
      width: 100%
      z-index: 0

    .hero-container
      position: relative
      z-index: 1

  .user-profile-content
    font-size: 15px
    line-height: 1.5
    margin: 0 3vw