@require "./user-profile-header"

.user-profile
  background-color: #fbfbfb
  .user-profile-hero
    background-color: #0072ff

  .user-profile-content
    font-size: 15px
    line-height: 1.5
    margin: 0 3vw