.modal-form-underlay.workflow-assignment-dialog
  background-color: rgba(0,0,0,0.6)

.modal-form.workflow-assignment-dialog
  border-radius: 8px
  max-width: 400px
  padding: 0 0 1.5em
  
  .modal-dialog-close-button
    background: MAIN_HIGHLIGHT
    text-shadow: none
  
  .workflow-assignment-dialog__buttons
    display: flex
    justify-content: space-between