.workflow-export-list
  padding-left: 0

.workflow-export-list__item
  list-style-type: none

.workflow-export-list__input
  margin-right: 1em

.workflow-export-list__link
  margin-left: 1em

.workflow-export-list__span
  margin-left: 1em
