.workflow-task-editor-choices
  background: rgba(gray, 0.3)
  border-radius: 5px
  box-shadow: 0 1px 1px rgba(black, 0.2) inset
  margin: 1em 0
  padding: 0.5em
  text-align: center

  > :first-child
    margin-top: 0

  > :last-child
    margin-bottom: 0

.workflow-choice-editor
  background: white
  border-radius: 3px
  box-shadow: 0 1px 1px rgba(black, 0.2)
  color: black
  margin: 0.5em 0
  padding: 0.5em
  position: relative
  text-align: left

  .workflow-choice-remove-button
    @extends $reset-button
    background: gray
    border-radius: 50%
    box-shadow: 0 1px 1px rgba(black, 0.1)
    color: white
    height: 1em
    line-height: 1
    position: absolute
    right: -0.3em
    top: -0.3em
    width: 1em

    &:hover
      background: red

.workflow-choice-add-button
  @extends $reset-button
  background: gray
  border-radius: 50%
  box-shadow: 0 1px 1px rgba(black, 0.1)
  color: white
  font-size: 2em
  height: 1em
  line-height: 1
  width: 1em

  &:hover
    background: SECOND_HIGHLIGHT
