.worldwide-telescope
  margin: 0 1em

  &__container
    display: flex

    div:first-child
      text-align: center
      width: 5em

  &__content
    display: flex
    flex-direction: column
    margin: 0 1em

    p
      font-size: 0.75em
      font-weight: 300

  &__chart-image
    border-radius: .25em
    distance: block
    max-height: 4em
    max-width: 4em
    vertical-align: middle
