.worldwide-telescope
  align-items: center
  display: flex

  > div
    text-align: center
    width: 5em

  &__chart-image
    border-radius: .25em
    distance: block
    max-height: 4em
    max-width: 4em
    vertical-align: middle
