.caesar-status
  // border: 1px solid #808080
  display: flex
  flex-direction: row

  .caesar-status-badge
    border-radius: 16px
    border: 0.5px solid #A6A7A9
    background: #323845
    color: #ffffff
    display: flex
    flex-direction: row
    font-size: 10px
    font-weight: 700
    padding: 5px 15px
    text-decoration: none

    > *
      display: block
      flex: 0 0 auto
      
    .caesar-status-badge-left
      color: #488359
      transform: skew(15deg, 0) scale(-1, 1.5)
    
    .caesar-status-badge-center
      margin: 0 5px
    
    .caesar-status-badge-right
      color: #488359
      transform: skew(-15deg, 0) scale(1, 1.5)
