version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "10:00"
    open-pull-requests-limit: 0
    ignore:
    - dependency-name: eslint-plugin-promise
      versions:
      - "> 1.3.2"
    - dependency-name: react-router
      versions:
      - "< 5, >= 4.a"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
