.site-nav
  align-items: baseline
  display: flex
  font-size: 14px
  justify-content: space-between
  padding: 0.5em 1em

  &__main-links
    display: flex
    flex-wrap: wrap
    justify-content: flex-start

    &--vertical
      flex-direction: column

  &__link
    border-bottom: 2px solid transparent
    color: inherit
    display: inline-block
    opacity: 0.7
    padding: 0.5em 1em 0.3em
    text-decoration: inherit
    white-space: nowrap;

    &--leading
      margin-right: -0.5em

    &--trailing
      margin-left: -0.5em

    &:hover
      opacity: 1
      background: rgba(white, 0.2)
      position: relative
      z-index: 1 // This improves hit area on hover for --leading and --trailing.

    &--active
      opacity: 1
      border-bottom-color: white

  &__inbox-link
    position: relative

    &::after
      background: red
      border-radius: 50%
      content: ''
      height: 0.5em
      opacity: 0
      position: absolute
      right: -0.1em
      top: 0.2em
      width: 0.5em

    &--unread::after
      opacity: 1

  &__link-label-for-builders
    font-size: 0.7em
    font-weight: bold
    letter-spacing: 0.1em
    text-transform: uppercase

  &__user-avatar
    margin: -0.3em 0

  &__modal
    &.modal-form-underlay
      background: transparent
      z-index: 1 // TODO: Apply this everywhere.

    &.modal-form
      margin-top: 0.2em

    &.modal-form-pointer
      height: 1.5em // TODO: Why's this weird?
      width: 1.5em // TODO: Why's this weird?

  &__demoted-floater
    background: rgba(white, 0.2)
    border-radius: 3em
    padding: 0 0.5em
    position: relative
    z-index: 2

  &__reveal-toggle
    position: relative

    &::after
      border: 0.3em solid
      border-bottom-width: 0
      border-color: currentColor transparent
      bottom: 0.3em
      content: ''
      height: 0
      margin-top: 0.5em
      position: absolute
      right: 0.6em
      width: 0
