.blurred-image
  &__container
    position: relative
    min-width: 1em
    min-height: 1em
    overflow: hidden

  &__display
    background-position: 50% 50%
    background-size: cover
    bottom: -1em
    -webkit-filter: blur(1em)
    filter: blur(1em)
    left: -1em
    opacity: 0.5
    position: absolute
    right: -1em
    top: -1em

.home-page-for-user
  background: black
  color: white
  display: flex
  flex-grow: 1
  position: relative

  &__background
    position: absolute
    height: 100%
    left: 0
    top: 0
    width: 100%

  &__content
    align-items: center;
    display: flex
    flex-direction: column
    flex-grow: 1
    margin-top: 5em

  &__welcome
    font-size: 20px
    margin: 1em 2em

  &__menu
    display: inline-flex
    flex-wrap: wrap
    margin: 1em 2em

  &__menu-column
    display: flex
    flex-direction: column

  &__menu-button
    display: block
    white-space: nowrap

  &__menu-label
    display: block
    padding: 1em 2em
    text-align: left

.home-page-section
  align-self: stretch
  background: #eef2f5
  color: black
  flex-grow: 1
  font-size: 16px

  &__header
    background: #0f7481
    color: white
    display: flex
    padding: 0.5em 2em

  &__header-label
    flex-grow: 1
    text-align: center

  &__sub-header
    font-size: 12px
    font-weight: bold
    text-align: right

  &__content
    padding: 1em 2em

.outlined-button
  border: 0.07em solid
  border-radius: 0.3em
  color: #0f7481
  display: inline-block
  padding: 0.1em 1em
  text-decoration: none
