.home-page-for-user
  background: black
  color: white
  display: flex
  flex-direction: column
  flex-grow: 1
  padding-top: 5vh
  position: relative

  &__background
    background-color: #0f7481
    height: 100%
    left: 0
    opacity: 0.5
    position: absolute
    top: 0
    width: 100%

  &__content
    align-items: center;
    display: flex
    flex-direction: column
    flex-grow: 1
    margin-bottom: 5em
    margin-top: 5em

  &__welcome
    font-size: 20px
    margin: 1em 2em

  &__menu
    display: inline-flex
    flex-wrap: wrap
    margin: 1em 2em

  &__menu-column
    display: flex
    flex-direction: column

  &__menu-button
    color: inherit
    display: block
    text-decoration: none
    white-space: nowrap

  &__menu-label
    display: block
    padding: 1em 2em
    text-align: left

.home-page-section
  align-self: stretch
  background: #eef2f5
  color: black
  flex-grow: 1
  font-size: 16px

  &__header
    background: #0f7481
    color: white
    display: flex
    padding: 0.5em 2em

  &__header-label
    flex-grow: 1
    text-align: center

  &__error
    background: rgba(red, 0.3)
    color: black
    font-size: 12px
    font-weight: bold
    padding: 0.5em 2em
    text-align: center

  &__sub-header
    font-size: 12px
    font-weight: bold
    text-align: right

  &__content
    padding: 1em 2em

.home-page-project-stats
  flex-grow: 1
  position: relative;
  z-index: 1

  &__content
    position: relative
    z-index: 1

.outlined-button
  border: 0.07em solid
  border-radius: 0.3em
  color: #0f7481
  display: inline-block
  padding: 0.1em 1em
  text-decoration: none

.home-page-news-pullout
  background: white
  color: black
  max-width: 60%
  transition: transform 0.5s
  z-index: 5

  &__toggle-button.secret-button
    position: absolute
    right: 100%
    top: 33%

  &__toggle-label
    background: #0f7481
    border-radius: 0.3em 0 0 0.3em
    color: white
    font-size: 14px
    padding: 0.5em 1em

.on-home-page-logged-in
  padding-top: 0
