.news-pullout-main
  overflow: auto
  max-height: 100%
  padding: 1em 2em

  h2, h4
    color: #0f7481
    margin-bottom: 1em

.news-pullout-section
  display: flex
  flex-direction: column
  max-width: 220px

  h4
    margin-top: 1em

  h5
    margin-bottom: 1em

  .pullout-publication-timestamp
    font-size: .8em
    margin-bottom: 0

  .news-section-content
    font-size: .8em
    margin: 0.25em 0

    a
      color: inherit
      text-decoration: none

  .pullout-dataset-timestamp
    font-size: 0.75em
    margin: 0 0 1.25em 0

  .project-card
    margin: 0

  .fa-long-arrow-right
    color: red
    margin-left: 0.5em
