.home-page-news-pullout

  .news-main
    height: 100%
    overflow: hidden
    padding: 0em 2em
    width: 100%

    &.active
      box-shadow: -2px 3px 3px rgba(0,0,0,0.24)

    h2, h4
      color: #0f7481
      margin-bottom: 0.8em

    a
      color: inherit
      text-decoration: none

  .news-container
    height: 100%
    overflow-y: scroll
    padding: 1em 1em 0 1em
    width: 100%

  .news-section
    display: flex
    flex-direction: column
    margin-bottom: 1.5em
    max-width: 220px

    &__timestamp
      font-size: .8em
      margin-top: 0.2em

    &__content
      font-size: .8em
      margin-bottom: 1.25em
      margin-top: .6em

    &__link
      cursor: pointer

    &__title
      color: #0c4881

    .project-card
      box-shadow: -2px 3px 6px rgba(0,0,0,0.24)
      margin: 0

    .fa-long-arrow-right
      color: red
      margin-left: 0.5em
