<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:400,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400">
    <meta name="google-site-verification" content="bcDZuAlk550Gho9TJsiyHFj_PzVXVkkVvGB13YWFtUo" />

    <!-- Facebook OG tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Zooniverse" />
    <meta property="og:description" content="The Zooniverse is the world’s largest and most popular platform for people-powered research." />
    <meta property="og:image" content="https://zooniverse-static.s3.amazonaws.com/assets/zooniverse-icon-web-black.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="https://zooniverse-static.s3.amazonaws.com/assets/zooniverse-icon-web-black.png" />
  </head>

  <body>
    <!--Last build: <%= new Date() %>-->
    <!--Deployed commit: <%= process.env.HEAD_COMMIT %>-->
    <!--Build env: <%= process.env.NODE_ENV %>-->

    <h1>Under Maintenance</h1>
    
    <p>The Zooniverse is currently under maintenance. We'll be up again in an hour.</p>
    
    <!-- Google Tag Manager -->	
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WDW6V4"	
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>	
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':	
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],	
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=	
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);	
    })(window,document,'script','dataLayer','GTM-WDW6V4');</script>	
    <!-- End Google Tag Manager -->	

  </body>
</html>
