<template id="panoptes-dialog-template">
  <div id="underlay">
    <div id="container">
      <content></content>
    </div>
  </div>

  <style>
    :host {
      display: none;
    }

    :host([open]) {
      display: block;
    }

    #underlay {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
    }

    #container {
      background: white;
      box-shadow: 0 1px 1px black;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
</template>

<script>
  (function() {
    'use strict';

    var currentScript = document.currentScript || document._currentScript;

    addEventListener('WebComponentsReady', function() {
      var dialogProto = Object.create(HTMLElement.prototype, {
        isOpen: {
          get: function() {
            return this.hasAttribute('open');
          },
          set: function(value) {
            if (value) {
              this.setAttribute('open', true);
            } else {
              this.removeAttribute('open');
            }
          }
        }
      });

      dialogProto.createCallback = function() {
        var shadowRoot = this.createShadowRoot();
        var template = currentScript.ownerDocument.getElementById('panoptes-request-template');
        var clone = document.importNode(template.content, true);
        shadowRoot.appendChild(clone);
      };

      dialogProto.open = function() {
        this.isOpen = true;
      };

      dialogProto.close = function() {
        this.isOpen = false;
      };

      dialogProto.toggle = function() {
        this.isOpen = !this.isOpen;
      };

      window.PanoptesDialog = document.registerElement('panoptes-dialog', {
        prototype: dialogProto
      });
    });
  }());
</script>
