<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Panoptes Components</title>
    <script src="./bower_components/polymer-platform/platform.js"></script>
    <style>
      html {
        background: #fff;
        font: 14px/2 "Helvetica Neue", sans-serif;
      }
    </style>
  </head>

  <body>
    <h1>Panoptes components</h1>

    <h2><code>panoptes-dialog</code>, <code>panoptes-tabs</code></h2>
    <link rel="import" href="./dialog.html" />
    <link rel="import" href="./tabs.html" />
    <link rel="import" href="./title.html" />
    <link rel="import" href="./content.html" />
    <link rel="import" href="./controls.html" />
    <link rel="import" href="./trigger.html" />

    <panoptes-trigger event="click" target="#just-text" method="close">
      <panoptes-dialog id="just-text">
        <panoptes-content>
          Just some <code>panoptes-content</code>. Click to close.
        </panoptes-content>
      </panoptes-dialog>
    </panoptes-trigger>

    <panoptes-dialog id="with-tabs">
      <panoptes-title>
        <strong>This is a dialog.</strong>
        <panoptes-controls>
          <panoptes-trigger event="click" target="#with-tabs" method="close">
            <button type="button">&times;</button>
          </panoptes-trigger>
        </panoptes-controls>
      </panoptes-title>

      <panoptes-tabs id="tabs" side="left" style="height: 67vh; width: 75vw;">
        <panoptes-title>
          <strong>Account settings</strong>
        </panoptes-title>

        <panoptes-content>
          <panoptes-tabs id="sub-tabs" side="top">
            <panoptes-title>Nested</panoptes-title>
            <panoptes-content>
              <p>A nested tabs-thing!</p>
            </panoptes-content>

            <panoptes-title>Hello</panoptes-title>
            <panoptes-content>
              <p>World</p>
            </panoptes-content>

            <panoptes-controls>
              <button type="button">0</button>
              <button type="button">1</button>
              <panoptes-trigger event="click" target="#sub-tabs" method="addTab" arguments='["Sub-new", "Testing"]'>
                <button type="button">+</button>
              </panoptes-trigger>
            </panoptes-controls>
          </panoptes-tabs>
        </panoptes-content>

        <panoptes-title>
          <strong>Public profile</strong>
          <panoptes-controls>
            <panoptes-trigger event="click" target="#tabs" method="removeTab" arguments="1">
              <button type="button">&times;</button>
            </panoptes-trigger>
          </panoptes-controls>
        </panoptes-title>

        <panoptes-content>
          <p>This is content about your profile.</p>
          <p>This is content about your profile.</p>
          <p>This is content about your profile.</p>
          <p>This is content about your profile.</p>
          <p>This is content about your profile.</p>
        </panoptes-content>

        <panoptes-title>
          <strong>Email settings</strong>
        </panoptes-title>

        <panoptes-content>
          <p>This is content about your email.</p>
        </panoptes-content>

        <panoptes-controls>
          <button type="button">0</button>
          <button type="button">1</button>
        </panoptes-controls>

        <panoptes-controls>
          <panoptes-trigger event="click" target="#tabs" method="addTab" arguments='["New", "Testing"]'>
            <button type="button">+</button>
          </panoptes-trigger>
        </panoptes-controls>
      </panoptes-tabs>

      <panoptes-controls>
        <panoptes-trigger event="click" target="#with-tabs" method="close">
          <button type="button">Close</button>
        </panoptes-trigger>
      </panoptes-controls>
    </panoptes-dialog>

    <panoptes-trigger event="click" target="#just-text" method="open">
      <button>Just text</button>
    </panoptes-trigger>

    <panoptes-trigger event="click" target="#with-tabs" method="open">
      <button>With title, tabs, controls</button>
    </panoptes-trigger>

    <hr />

    <h2><code>panoptes-request</code></h2>
    <link rel="import" href="./request.html" />

    <panoptes-request id="request" from="./sample-data/weather.json">
      <p>
        In <span data-panoptes-request-field="name">&mdash;</span>
        (<span data-panoptes-request-field="coord.lon">&mdash;</span>,
        <span data-panoptes-request-field="coord.lat">&mdash;</span>),
        the temperature is <span data-panoptes-request-field="main.temp">&mdash;</span>° F.
      </p>

      <p>
        <font data-panoptes-request-field="size: main.temp;" size="0">That's this big.</font>
      </p>
    </panoptes-request>
  </body>
</html>
