<link rel="import" href="./panoptes-title.html" />
<link rel="import" href="./panoptes-content.html" />

<template>
  <div id="tab-and-controls-container">
    <div id="tab-container">
      <content select="panoptes-title, hr"></content>
    </div>

    <div id="controls-container">
      <content select="panoptes-controls"></content>
    </div>
  </div>

  <div id="content-container">
    <content select="panoptes-content"></content>
  </div>

  <style>
    :host {
      display: flex;
    }

    :host([side="top"]) {
      flex-direction: column;
    }

    :host([side="bottom"]) {
      flex-direction: column-reverse;
    }

    :host([side="left"]) {
      flex-direction: row;
    }

    :host([side="right"]) {
      flex-direction: row-reverse;
    }

    #tab-and-controls-container {
      display: flex;
    }

    #tab-container {
      display: flex;
      flex: 1;
      overflow: auto;
    }

    #tab-container ::content > * {
      cursor: pointer;
      flex-shrink: 0;
      padding: 0.4em 1em;
    }

    #tab-container ::content > [active-tab] {
      background: orangered;
      color: white;
    }

    :host([side="top"]) #tab-and-controls-container,
    :host([side="top"]) #tab-container,
    :host([side="bottom"]) #tab-and-controls-container,
    :host([side="bottom"]) #tab-container {
      flex-direction: row;
    }

    :host([side="left"]) #tab-and-controls-container,
    :host([side="left"]) #tab-container,
    :host([side="right"]) #tab-and-controls-container,
    :host([side="right"]) #tab-container {
      flex-direction: column;
      padding: 1vh 0;
    }

    #controls-container {
      display: flex;
      justify-content: space-around;
    }

    :host([side="left"]) #controls-container,
    :host([side="right"]) #controls-container {
      align-items: center;
    }

    #content-container {
      border: 0 solid rgba(0, 0, 0, 0.2);
      flex: 1;
      overflow: auto;
      position: relative;
    }

    :host([side="top"]) #content-container {
      border-top-width: 1px;
      padding-top: 3vh;
    }

    :host([side="bottom"]) #content-container {
      border-bottom-width: 1px;
      padding-bottom: 3vh;
    }

    :host([side="left"]) #content-container {
      border-left-width: 1px;
      padding: 3vh 0 3vh 5vw;
    }

    :host([side="right"]) #content-container {
      border-right-width: 1px;
      padding: 3vh 5vw 3vh 0;
    }

    #content-container ::content > * {
      padding: 0;
    }

    #content-container ::content > :not([active-tab]) {
      display: none;
    }
  </style>
</template>

<script>
  (function() {
    'use strict';

    var Platform = window.Platform;

    var currentScript = document._currentScript || document.currentScript;

    var validSides = {top: null, right: null, bottom: null, left: null};

    addEventListener('WebComponentsReady', function() {
      var proto = Object.create(HTMLElement.prototype, {
        side: {
          get: function() {
            return this.getAttribute('side');
          },
          set: function(side) {
            if (side in validSides) {
              this.setAttribute('side', side);
            }
          }
        },

        activeTab: {
          get: function() {
            return parseFloat(this.getAttribute('active-tab'));
          },
          set: function(index) {
            index = this.modulo(index);

            if (!isNaN(index)) {
              this.setAttribute('active-tab', index);
              this.forEach(function(tab, content, i) {
                if (i === index) {
                  tab.setAttribute('active-tab', true);
                  content.setAttribute('active-tab', true);

                  if (content.hasAttribute('hash')) {
                    location.hash = content.hash;
                  }
                } else {
                  tab.removeAttribute('active-tab', true);
                  content.removeAttribute('active-tab', true);
                }
              });
            } else {
              this.removeAttribute('active-tab');
            }
          }
        }
      });

      proto.createdCallback = function() {
        var shadowRoot = this.createShadowRoot();
        var template = currentScript.ownerDocument.getElementsByTagName('template')[0];
        if (Platform.ShadowCSS) {
          Platform.ShadowCSS.shimStyling(template.content, 'panoptes-tabs');
        }
        var clone = document.importNode(template.content, true);
        shadowRoot.appendChild(clone);

        this.tabContainer = shadowRoot.getElementById('tab-container');
        this.contentContainer = shadowRoot.getElementById('content-container');
        this.tabContent = this.tabContainer.children[0];
        this.contentContent = this.contentContainer.children[0];

        var targetedContent = this.querySelector('panoptes-content[hash="' + location.hash + '"]');
        if (targetedContent) {
          this.activeTab = this.indexOfContent(targetedContent);
        }

        this.side = this.side || 'top';
        this.activeTab = this.activeTab || 0;
      };

      proto.attachedCallback = function() {
        this.addEventListener('panoptes-content:target', this);
        this.tabContainer.addEventListener('click', this);
      };

      proto.removedCallback = function() {
        this.removeEventListener('hashchange', this);
        this.tabContainer.removeEventListener('click', this);
      };

      proto.modulo = function(index) {
        var length = this.tabContent.getDistributedNodes().length;
        return (index % length + Math.abs(length)) % length;
      };

      proto.forEach = function(fn, context) {
        var tabs = this.tabContent.getDistributedNodes();
        var contents = this.contentContent.getDistributedNodes();
        return Array.prototype.forEach.call(tabs, function(element, i) {
          fn.call(context, tabs[i], contents[i], i, tabs, contents);
        });
      };

      proto.indexOfContent = function() {
        var contents = this.contentContent.getDistributedNodes();
        return Array.prototype.indexOf.apply(contents, arguments);
      };

      function findParent(element, type) {
        while (element.tagName.toLowerCase() !== type.toLowerCase() && element) {
          element = element.parentNode;
        }
        return element;
      }

      proto.handleEvent = function(e) {
        if (e.type === 'panoptes-content:target') {
          var index = this.indexOfContent(e.target);
          if (index !== -1) {
            this.activeTab = index;
          }
        } else if (e.type === 'click') {
          var tab = findParent(e.target, 'panoptes-title');
          if (tab) {
            this.tabClicked(tab);
          }
        }
      };

      proto.tabClicked = function(tab) {
        var tabs = this.tabContent.getDistributedNodes();
        var index = Array.prototype.indexOf.call(tabs, tab);
        this.activeTab = index;
      };

      function ensure(whatever, Constructor) {
        if (!(whatever instanceof Constructor)) {
          var instance = new Constructor();
          if (whatever instanceof HTMLElement) {
            instance.appendChild(whatever);
          } else {
            instance.innerHTML = whatever;
          }
          whatever = instance;
        }
        return whatever;
      }

      proto.addTab = function(tab, content, index) {
        tab = ensure(tab, PanoptesTitle);
        content = ensure(content, PanoptesContent);

        this.appendChild(tab);
        this.appendChild(content);

        if (!isNaN(index)) {
          index = this.modulo(index);
          this.insertBefore(tab, this.children[index]);
          this.insertBefore(content, this.children[index]);
        }

        return index;
      };

      proto.removeTab = function(index) {
        index = this.modulo(index);

        if (!isNaN(index)) {
          if (this.activeTab === index) {
            this.activeTab = index - 1;
          }

          var tab = this.tabContent.getDistributedNodes()[index];
          var content = this.contentContent.getDistributedNodes()[index];

          tab.parentNode.removeChild(tab);
          content.parentNode.removeChild(content);
        }
      };

      window.PanoptesTabs = document.registerElement('panoptes-tabs', {
        prototype: proto
      });
    });
  }());
</script>
