<link rel="import" href="./panoptes-title.html" />

<template>
  <content></content>

  <style>
    :host {
      display: block;
      padding: 3vh 6vw;
    }

    ::content > :first-child {
      margin-top: 0;
    }

    ::content > :last-child {
      margin-bottom: 0;
    }
  </style>
</template>

<script>
  (function() {
    'use strict';

    var Platform = window.Platform;

    var currentScript = document._currentScript || document.currentScript;

    function dispatchTargetEvents() {
      var targets = document.querySelectorAll('panoptes-content[hash="' + location.hash + '"]');
      Array.prototype.forEach.call(targets, function(element) {
        var e = document.createEvent('CustomEvent');
        e.initCustomEvent('panoptes-content:target', true, true);
        element.dispatchEvent(e);
      });
    }

    addEventListener('hashchange', dispatchTargetEvents);

    addEventListener('WebComponentsReady', function() {
      var proto = Object.create(HTMLElement.prototype, {
        hash: {
          get: function() {
            return this.getAttribute('hash');
          },
          set: function(hash) {
            if (hash) {
              this.setAttribute('hash', hash);
            } else {
              this.removeAttribute('hash');
            }
          }
        }
      });

      proto.createdCallback = function() {
        var shadowRoot = this.createShadowRoot();
        var template = currentScript.ownerDocument.getElementsByTagName('template')[0];
        if (Platform.ShadowCSS) {
          Platform.ShadowCSS.shimStyling(template.content, 'panoptes-content');
        }
        var clone = document.importNode(template.content, true);
        shadowRoot.appendChild(clone);
      };

      window.PanoptesContent = document.registerElement('panoptes-content', {
        prototype: proto
      });

      dispatchTargetEvents();
    });
  }());
</script>
