<link rel="import" href="/components/util/get-from.html" />

<script type="text/coffeescript">
  addEventListener 'WebComponentsReady', ->
    ListProto = Object.create HTMLElement.prototype,
      data:
        get: ->
          @querySelector('panoptes-data').data

      template:
        get: ->
          @querySelector 'template'

    ListProto.attachedCallback = ->
      @update()

    ListProto.update = ->
      @data.then (items) =>
        for item in items
          newHTML = @template.innerHTML.replace /{{([^}]+)}}/g, (match, key) ->
            window.panoptes.getFrom key.trim(), item

          @insertAdjacentHTML 'beforeEnd', newHTML

    window.PanoptesList = document.registerElement 'panoptes-list', prototype: ListProto
</script>
