<script>
  (function() {
    'use strict';

    addEventListener('WebComponentsReady', function() {
      var proto = Object.create(HTMLElement.prototype, {
        event: {
          get: function() {
            return this.getAttribute('event');
          },
          set: function(event) {
            this.setAttribute('event', event);
          }
        },

        target: {
          get: function() {
            return document.querySelector(this.getAttribute('target'));
          },
          set: function(target) {
            this.setAttribute('target', target);
          }
        },

        method: {
          get: function() {
            return this.target[this.getAttribute('method')];
          },
          set: function(method) {
            this.setAttribute('method', method);
          }
        },

        'arguments': {
          get: function() {
            return [].concat(JSON.parse(this.getAttribute('arguments')));
          },
          set: function(args) {
            this.setAttribute('arguments', JSON.stringify(args));
          }
        }
      });

      proto.attachedCallback = function() {
        if (this.event) {
          this.attributeChangedCallback('event', null, this.event);
        }
      };

      proto.removedCallback = function() {
        if (this.event) {
          this.attributeChangedCallback('event', this.event, null);
        }
      };

      proto.attributeChangedCallback = function(attribute, old, value) {
        if (attribute === 'event') {
          if (old) {
            this.removeEventListener(old, this);
          }

          if (value) {
            this.addEventListener(value, this);
          }
        }
      }

      proto.handleEvent = function(e) {
        this.method.apply(this.target, this.arguments);
      };

      window.PanoptesTrigger = document.registerElement('panoptes-trigger', {
        prototype: proto
      });
    });
  }());
</script>
