/*
  Icon Font: zoo-font
*/

@font-face {
  font-family: "zoo-font";
  src: url("./zoo-font_1fb9a20bd641d80612372957211fb220.eot");
  src: url("./zoo-font_1fb9a20bd641d80612372957211fb220.eot?#iefix") format("embedded-opentype"),
       url("./zoo-font_1fb9a20bd641d80612372957211fb220.woff") format("woff"),
       url("./zoo-font_1fb9a20bd641d80612372957211fb220.ttf") format("truetype"),
       url("./zoo-font_1fb9a20bd641d80612372957211fb220.svg#zoo-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "zoo-font";
    src: url("./zoo-font_1fb9a20bd641d80612372957211fb220.svg#zoo-font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.filmstrip--disciplines__discipline-card__icon-arts:before,
.filmstrip--disciplines__discipline-card__icon-astronomy:before,
.filmstrip--disciplines__discipline-card__icon-biology:before,
.filmstrip--disciplines__discipline-card__icon-climate:before,
.filmstrip--disciplines__discipline-card__icon-history:before,
.filmstrip--disciplines__discipline-card__icon-humanitarian:before,
.filmstrip--disciplines__discipline-card__icon-language:before,
.filmstrip--disciplines__discipline-card__icon-literature:before,
.filmstrip--disciplines__discipline-card__icon-medicine:before,
.filmstrip--disciplines__discipline-card__icon-nature:before,
.filmstrip--disciplines__discipline-card__icon-physics:before,
.filmstrip--disciplines__discipline-card__icon-social-science:before,
.filmstrip--disciplines__discipline-card__icon-zooniverse-logo:before {
  display: inline-block;
  font-family: "zoo-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.filmstrip--disciplines__discipline-card__icon-arts:before { content: "\f12e"; }
.filmstrip--disciplines__discipline-card__icon-astronomy:before { content: "\f12f"; }
.filmstrip--disciplines__discipline-card__icon-biology:before { content: "\f124"; }
.filmstrip--disciplines__discipline-card__icon-climate:before { content: "\f125"; }
.filmstrip--disciplines__discipline-card__icon-history:before { content: "\f126"; }
.filmstrip--disciplines__discipline-card__icon-humanitarian:before { content: "\f127"; }
.filmstrip--disciplines__discipline-card__icon-language:before { content: "\f128"; }
.filmstrip--disciplines__discipline-card__icon-literature:before { content: "\f129"; }
.filmstrip--disciplines__discipline-card__icon-medicine:before { content: "\f130"; }
.filmstrip--disciplines__discipline-card__icon-nature:before { content: "\f12b"; }
.filmstrip--disciplines__discipline-card__icon-physics:before { content: "\f12c"; }
.filmstrip--disciplines__discipline-card__icon-social-science:before { content: "\f131"; }
.filmstrip--disciplines__discipline-card__icon-zooniverse-logo:before { content: "\f121"; }
