name: Deploy PFE Production

on:
    # Run this workflow on push to production-release tag (via chatops)
    push:
        tags:
          - production-release

    # Allow running this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
  build:
    name: Build production
    uses: zooniverse/Panoptes-Front-End/.github/workflows/npm_build.yml@reusable-workflows
    with:
      commit_id: ${{ github.sha }}
      script: '_build-production'
  deploy_production:
    name: Deploy production
    uses: zooniverse/Panoptes-Front-End/.github/workflows/azure_deploy.yml@reusable-workflows
    needs: build
    with:
      target: 'www.zooniverse.org'
    secrets:
      creds: ${{ secrets.AZURE_STATIC_SITES }}
  slack_notification:
    name: Send Slack notification
    uses: zooniverse/Panoptes-Front-End/.github/workflows/slack_notification.yml@reusable-workflows
    needs: deploy_production
    with:
      deploy_url: 'https://www.zooniverse.org'
      job_name: Build production / build
      status: ${{ needs.deploy_production.result }}
      title: 'PFE Production deploy complete'
    secrets:
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
