name: Deploy PFE Staging

on:
    # Run this workflow on creation (or sync to source branch) of a new pull request
    push:
        branches:
          - master

jobs:
  build:
    name: Build staging
    uses: zooniverse/Panoptes-Front-End/.github/workflows/npm_build.yml@reusable-workflows
    with:
      commit_id: ${{ github.sha }}
      script: '_build-staging'
  deploy_staging:
    name: Deploy staging
    uses: zooniverse/Panoptes-Front-End/.github/workflows/azure_deploy.yml@production-release
    needs: build
    with:
      target: 'preview.zooniverse.org/panoptes-front-end/master'
    secrets:
      creds: ${{ secrets.AZURE_STATIC_SITES }}
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
  slack_notification:
    name: Send Slack notification
    uses: zooniverse/Panoptes-Front-End/.github/workflows/slack_notification.yml@reusable-workflows
    needs: deploy_staging
    if: always()
    with:
      deploy_url: 'https://master.pfe-preview.zooniverse.org'
      job_name: Build staging / build
      status: ${{ needs.deploy_staging.result }}
      title: 'PFE Staging deploy complete'
    secrets:
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
